/* fuentes locales*/
@font-face {
  font-family: 'texto';
  src: url("../assets/fonts/Mohave/mohave.regular.ttf"); }

@font-face {
  font-family: 'titulos';
  src: url("../assets/fonts/Mohave/mohave.bold.ttf"); }

@font-face {
  font-family: 'leyenda';
  src: url("../assets/fonts/Mohave/mohave.light.ttf"); }

/* -------------*/
/* colores */
/* -------------*/
/* fotos de las notas */
/* -------------*/
/* inicializar propiedades*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0;
  font-family: 'texto', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  background: #1a0b81;
  background: -moz-radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  background: -webkit-radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  background: radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a0b81",endColorstr="#000a29",GradientType=1); }

h2 {
  font-family: 'texto', sans-serif;
  font-size: 2em;
  color: #f2f2f2;
  margin: 20px auto 10px auto; }

.container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%; }
  .container__map {
    padding: 0;
    margin: 0;
    width: 100%; }
  .container__caption {
    position: absolute;
    width: 50%;
    top: 60%;
    left: 20px; }
    .container__caption h1 {
      font-family: 'titulos', sans-serif;
      font-size: 2em;
      margin: 0 auto 0.5em auto;
      color: #f2f2f2; }
    .container__caption p {
      font-family: 'leyenda', sans-serif;
      font-size: 1em;
      line-height: 150%;
      margin-bottom: 0.5em;
      color: #f2f2f2; }
      .container__caption p b {
        color: #00d1c1; }
    .container__caption span {
      font-family: 'texto', sans-serif;
      display: inline-block;
      margin: 0.5em 20px 0.5em 0;
      color: #d6fa48;
      font-size: 1.3em; }
    .container__caption div {
      margin: 0.5em auto 0.5em 1em;
      position: relative; }
    .container__caption-check {
      width: 30px;
      height: 30px;
      background: none;
      border: 1.4px solid #00d1c1;
      border-radius: 7px;
      -webkit-appearance: none;
      outline: none;
      vertical-align: bottom; }
      .container__caption-check:hover {
        border: 1.4px solid #d6fa48;
        cursor: pointer; }
      .container__caption-check-line {
        width: 30px;
        height: 30px;
        fill: none;
        stroke: #d6fa48;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-width: 10px;
        position: absolute;
        z-index: -1;
        left: 0; }
    .container__caption-label {
      margin: auto 20px auto 10px;
      font-family: 'leyenda', sans-serif;
      font-size: 1.5em;
      color: #00d1c1; }

.chequear {
  transition: stroke-dashoffset .5s; }

.news {
  margin: 3em auto 0 auto; }
  .news__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto; }
    .news__head p {
      font-family: 'leyenda', sans-serif;
      font-size: 1em;
      line-height: 150%;
      color: #f2f2f2;
      width: 85%;
      margin: 1em auto 0.5em auto; }
    .news__head span {
      margin: 0;
      color: #d6fa48; }
    .news__head-filtro {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0 20px 0;
      gap: 10px; }
      .news__head-filtro-btn {
        display: inline-block;
        width: 12em;
        color: #d6fa48;
        border: solid 1px #d6fa48;
        border-radius: 8px;
        background-color: transparent;
        text-align: center;
        font-family: 'leyenda', sans-serif;
        padding: 4px 0 5px 0;
        font-size: 1em; }
        .news__head-filtro-btn span {
          color: #fff;
          font-family: 'titulos', sans-serif; }
        .news__head-filtro-btn:hover {
          background-color: #d6fa48;
          color: #0584ff;
          cursor: pointer; }
          .news__head-filtro-btn:hover span {
            color: #0584ff; }
  .news__content {
    width: 75%;
    margin-left: auto;
    margin-right: auto; }
    .news__content ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-bottom: 5em; }
      .news__content ul li {
        margin-bottom: 1em; }

.card {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding-left: 0;
  width: 17em; }
  .card img {
    display: block;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 272px;
    height: 136px;
    padding-left: 272px;
    overflow: hidden; }
  .card__header {
    position: relative; }
    .card__headertag {
      display: inline-block;
      height: 18px;
      font-family: 'leyenda', sans-serif;
      background-color: #d6fa48;
      padding: 0 5px 1px 5px;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      color: #0584ff;
      font-size: 0.9em; }
  .card__body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent; }
    .card__bodytitle {
      font-family: 'texto', sans-serif;
      color: #0584ff;
      text-transform: uppercase;
      font-size: 1.1em;
      line-height: 120%;
      margin: 5px 0 0 0; }
    .card__bodytext {
      font-family: 'leyenda', sans-serif;
      color: #f2f2f2;
      line-height: 100%;
      font-size: 0.9em;
      margin: 5px 0px 10px 0; }

.btn {
  color: #d6fa48;
  background-color: #0584ff;
  border: none;
  border-radius: 6px;
  font-family: 'leyenda', sans-serif;
  font-size: 0.9em;
  padding: 3px 10px 4px 10px; }
  .btn:hover {
    background-color: #d6fa48;
    color: #0584ff; }

.image1 {
  background: url("../assets/images/image1.jpg") no-repeat; }

.image2 {
  background: url("../assets/images/image2.jpg") no-repeat; }

.image3 {
  background: url("../assets/images/image3.jpg") no-repeat; }

.image4 {
  background: url("../assets/images/image4.jpg") no-repeat; }

.image5 {
  background: url("../assets/images/image5.jpg") no-repeat; }

.image6 {
  background: url("../assets/images/image6.jpg") no-repeat; }

.image7 {
  background: url("../assets/images/image7.jpg") no-repeat; }

.image8 {
  background: url("../assets/images/image8.jpg") no-repeat; }

.image9 {
  background: url("../assets/images/image9.jpg") no-repeat; }

.image10 {
  background: url("../assets/images/image10.jpg") no-repeat; }

.image11 {
  background: url("../assets/images/image11.jpg") no-repeat; }

.image12 {
  background: url("../assets/images/image12.jpg") no-repeat; }

.image13 {
  background: url("../assets/images/image13.jpg") no-repeat; }

.image14 {
  background: url("../assets/images/image14.jpg") no-repeat; }

.image15 {
  background: url("../assets/images/image15.jpg") no-repeat; }

.image16 {
  background: url("../assets/images/image16.jpg") no-repeat; }

.image17 {
  background: url("../assets/images/image17.jpg") no-repeat; }

.image18 {
  background: url("../assets/images/image18.jpg") no-repeat; }

.image19 {
  background: url("../assets/images/image19.jpg") no-repeat; }

.image20 {
  background: url("../assets/images/image20.jpg") no-repeat; }

.image21 {
  background: url("../assets/images/image21.jpeg") no-repeat; }

.image22 {
  background: url("../assets/images/image22.jpg") no-repeat; }

.image23 {
  background: url("../assets/images/image23.jpg") no-repeat; }

.image24 {
  background: url("../assets/images/image24.jpg") no-repeat; }

.image25 {
  background: url("../assets/images/image25.jpg") no-repeat; }

.image26 {
  background: url("../assets/images/image26.jpg") no-repeat; }

.image27 {
  background: url("../assets/images/image27.jpg") no-repeat; }

.image28 {
  background: url("../assets/images/image28.jpg") no-repeat; }

.image29 {
  background: url("../assets/images/image29.jpg") no-repeat; }

.image30 {
  background: url("../assets/images/image20.jpg") no-repeat; }

.image31 {
  background: url("../assets/images/image31.jpg") no-repeat; }

.image32 {
  background: url("../assets/images/image32.jpg") no-repeat; }

.image33 {
  background: url("../assets/images/image33.jpg") no-repeat; }

.image34 {
  background: url("../assets/images/image34.jpg") no-repeat; }

.image35 {
  background: url("../assets/images/image35.jpg") no-repeat; }

.image36 {
  background: url("../assets/images/image36.jpg") no-repeat; }

.image37 {
  background: url("../assets/images/image37.jpg") no-repeat; }

.image38 {
  background: url("../assets/images/image38.jpg") no-repeat; }

.image39 {
  background: url("../assets/images/image39.jpg") no-repeat; }

.image40 {
  background: url("../assets/images/image40.jpg") no-repeat; }

.image41 {
  background: url("../assets/images/image41.jpg") no-repeat; }

.image42 {
  background: url("../assets/images/image42.jpg") no-repeat; }

.image43 {
  background: url("../assets/images/image43.jpg") no-repeat; }

.image44 {
  background: url("../assets/images/image44.jpg") no-repeat; }

.image45 {
  background: url("../assets/images/image45.jpg") no-repeat; }

.image46 {
  background: url("../assets/images/image46.jpg") no-repeat; }

.image47 {
  background: url("../assets/images/image47.jpg") no-repeat; }

.image48 {
  background: url("../assets/images/image48.jpg") no-repeat; }

@media (max-width: 1200px) {
  .news {
    margin: 12em auto 0 auto; } }

@media (max-width: 822px) {
  .container {
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0; }
    .container__caption {
      margin: 3em auto 1em auto;
      position: inherit;
      width: 90%; }
  .news {
    margin: 3em auto 0 auto; } }

@media (max-width: 769px) {
  .news__content {
    width: 100%; } }

.uuid-2c71ae4f-3c13-4bde-8c32-bf1b35f421f2, .uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  fill: none; }

.mapa_completo {
  clip-path: url(#uuid-81c4fbea-dc95-43ce-90be-56933e193cde); }

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660 {
  filter: url(#uuid-8e5786c1-e23a-4f74-afa2-ffb1fac197d4); }

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke-width: 3px; }

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252 {
  stroke: #d6fa48; }

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke-linecap: round;
  stroke-linejoin: round; }

.uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .croquispais, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke-miterlimit: 10; }

.uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc {
  stroke: #ed1c24; }

.uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke: #0584ff; }

.uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123 {
  filter: url(#uuid-ac05cff7-0645-4ae3-9476-0736a458c9c0); }

.uuid-959e5524-de0d-49a7-b153-74894f26a3b6 {
  fill: url(#uuid-75e69284-35a1-4cbc-a101-8ce87f5fc3d3); }

.uuid-193657cd-2345-423c-b859-c01e9b429476 {
  filter: url(#uuid-1cf87f62-eda7-40fe-9682-b5b9df0fba19); }

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-3a12310c-3316-44f2-a7e5-d7b4a9d2da24, .uuid-92fbd3f4-1270-4764-8dff-59aed314700c, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  fill: #d6fa48; }

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke: #fff; }

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke-width: 2px; }

.uuid-49005eab-3edc-417c-a1da-77167ad5c0cc {
  fill: #d8fc3f;
  font-family: MohaveRoman-Bold, Mohave;
  font-variation-settings: 'wght' 700; }

.uuid-49005eab-3edc-417c-a1da-77167ad5c0cc, .uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  font-size: 19px; }

.uuid-0c3a1ef9-e574-4153-8aed-c0ff61e7d774 {
  clip-path: url(#uuid-fd4c527c-da4a-4c7e-8462-e6b5d7abeb65); }

.verdeoscuro {
  fill: #005454; }

.verdeclaro {
  fill: #00d1c1; }

.uuid-136bee12-3ae2-43fc-9579-0b896ada1abc, .croquispais, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76, .uuid-e01d4d11-222f-4390-9981-139201c63b0f {
  fill: #006e70; }

.uuid-030a05dc-c15b-4630-a152-1c3eefe5c3b2, .uuid-e7523470-86dd-4d54-bea2-e57ed52eb9c4 {
  fill: #008787; }

.letraBlanca, .uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  fill: #fff; }

.uuid-ba31de6d-a386-48e4-97d7-818e21b43850 {
  fill: #00a09c; }

.uuid-0c46f753-bcd0-41b5-afe8-fd84b5e16313 {
  fill: #8ca8bc; }

.LetraAzul, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f {
  fill: #0584ff; }

.uuid-92fbd3f4-1270-4764-8dff-59aed314700c {
  font-family: 'texto', sans-serif;
  font-size: 47.2px;
  letter-spacing: 0em; }

.uuid-47585f88-6708-4a0a-9913-00880c2857cb {
  filter: url(#uuid-6bd41a6c-2f59-4bf5-98f9-a8a31922d6f1); }

.uuid-412ad160-1f07-4902-b79a-1071f61af4d7 {
  filter: url(#uuid-cb265ed4-0b7c-4990-a03e-5728cf5b9f76); }

.uuid-e7523470-86dd-4d54-bea2-e57ed52eb9c4, .uuid-13e6a5ef-ad6a-448f-9ee6-1c4b1163ec02 {
  mix-blend-mode: lighten; }

.uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e {
  filter: url(#uuid-5bd4ecda-452a-48e9-8023-d3e0f19a7310); }

.uuid-fb441b34-e9a0-484f-b31f-4e125940ad89 {
  filter: url(#uuid-bb1f93ec-1bdd-444d-8776-d1acbdb0b2fd); }

.uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429 {
  filter: url(#uuid-e3bd46aa-c81d-4d92-8402-fcdf5073f6df); }

.croquispais, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76 {
  stroke: #f2f2f2;
  stroke-width: .5px; }

.croquispais, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-e01d4d11-222f-4390-9981-139201c63b0f {
  fill-rule: evenodd; }

.uuid-d8d60534-fe40-42ff-b575-c389c6b018b4 {
  filter: url(#uuid-28507290-1722-47ee-9e63-882872d46c0e); }

.uuid-7557ce62-2666-4256-a65c-2c65a47f851a {
  filter: url(#uuid-21a84a78-f74e-4f94-8ad2-1b9ce85995a9); }

.uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  font-family: MohaveRoman-Regular, Mohave;
  font-variation-settings: 'wght' 400; }

.uuid-8e666a35-d6fe-43de-9b42-3927edd4468f {
  mix-blend-mode: overlay; }

.uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252 {
  filter: url(#uuid-cd8a3901-b41f-4c62-9b45-42dcd0601da7); }

.uuid-9119008c-d610-43c6-a504-e3eb1e16d57d {
  filter: url(#uuid-24e8a537-2748-4de0-9141-9604a36038c6); }

.uuid-a4988a44-200b-4f25-b823-875066937706 {
  filter: url(#uuid-58552531-150d-4e41-b2c9-4befd31e9234); }

.uuid-d8618ed3-fd4c-4127-b4ae-34ea9857033c {
  letter-spacing: 0em; }

.uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b {
  filter: url(#uuid-9cc54563-e33d-4e1a-917d-24234e000cc8); }

.uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46 {
  filter: url(#uuid-2cfa3933-16e7-4ae2-bd1d-29efc851ffe2); }

.uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142 {
  filter: url(#uuid-9240cfc3-140f-495d-a598-55b4fb3aaa1a); }

.uuid-676d4e89-2781-472a-acf6-9f8a4113ea57 {
  clip-path: url(#uuid-66d5c045-670c-4d44-875b-96836fb27c83); }

.uuid-30343332-bb3b-422d-9c24-82881d59cd0f {
  filter: url(#uuid-e458d64c-8f47-4f6c-aefc-10410ad9e844); }

.uuid-69b579d3-6603-43f3-bdd9-6e5630e935db {
  isolation: isolate; }

.uuid-fb63b507-670c-4079-b999-24ecc8d3067e {
  letter-spacing: 0em; }

.uuid-1d2025e9-aa56-4fc3-9600-598176209412 {
  filter: url(#uuid-035ae98d-ec60-4f02-b576-ac9405fc4f2f); }

.uuid-87d7c69a-ef8a-4d4a-9994-3ec07c6e9ede {
  letter-spacing: 0em; }

.uuid-5f27e31e-0255-4bb4-adf9-b7435b035442 {
  filter: url(#uuid-a6841269-a98a-4f51-9410-b490f7bf6163); }

.uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  filter: url(#uuid-b4ae3358-a6e3-49ae-be0c-0c9dc6f5cf37); }

.Labels_otrospaises, #dvConvenciones, .RutaNorte, #dvFlor, .RutaSur {
  opacity: 0; }
