/* fuentes locales*/
@font-face {
  font-family: 'texto';
  src: url("../assets/fonts/Mohave/mohave.regular.ttf"); }

@font-face {
  font-family: 'titulos';
  src: url("../assets/fonts/Mohave/mohave.bold.ttf"); }

@font-face {
  font-family: 'leyenda';
  src: url("../assets/fonts/Mohave/mohave.light.ttf"); }

/* -------------*/
/* colores */
/* -------------*/
/* fotos de las notas */
/* -------------*/
/* inicializar propiedades*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0;
  font-family: 'texto', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  background: #1a0b81;
  background: -moz-radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  background: -webkit-radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  background: radial-gradient(circle, #1a0b81 0%, #000a29 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a0b81",endColorstr="#000a29",GradientType=1); }

h2 {
  font-family: 'texto', sans-serif;
  font-size: 2em;
  color: #f2f2f2;
  margin: 20px auto 10px auto; }

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto; }
  .head p {
    margin: 0;
    color: #d6fa48; }
  .head__filtro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
    gap: 10px; }
    .head__filtro-btn {
      display: inline-block;
      width: 12em;
      color: #d6fa48;
      border: solid 1px #d6fa48;
      border-radius: 8px;
      background-color: transparent;
      text-align: center;
      font-family: 'leyenda', sans-serif;
      padding: 4px 0 5px 0;
      font-size: 1em; }
      .head__filtro-btn span {
        color: #fff;
        font-family: 'titulos', sans-serif; }
      .head__filtro-btn:hover {
        background-color: #d6fa48;
        color: #0584ff;
        cursor: pointer; }
        .head__filtro-btn:hover span {
          color: #0584ff; }

.map {
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0; }

svg {
  background-color: transparent; }

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5em; }
  ul li {
    margin-bottom: 1em; }

.content_news {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

.card {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding-left: 0;
  width: 17em; }
  .card img {
    display: block;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 272px;
    height: 136px;
    padding-left: 272px;
    overflow: hidden; }
  .card__header {
    position: relative; }
    .card__headertag {
      display: inline-block;
      height: 18px;
      font-family: 'leyenda', sans-serif;
      background-color: #d6fa48;
      padding: 0 5px 1px 5px;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      color: #0584ff;
      font-size: 0.9em; }
  .card__body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent; }
    .card__bodytitle {
      font-family: 'texto', sans-serif;
      color: #0584ff;
      text-transform: uppercase;
      font-size: 1.1em;
      line-height: 120%;
      margin: 5px 0 0 0; }
    .card__bodytext {
      font-family: 'leyenda', sans-serif;
      color: #f2f2f2;
      line-height: 100%;
      font-size: 0.9em;
      margin: 5px 0px 10px 0; }

.btn {
  color: #d6fa48;
  background-color: #0584ff;
  border: none;
  border-radius: 6px;
  font-family: 'leyenda', sans-serif;
  font-size: 0.9em;
  padding: 3px 10px 4px 10px; }
  .btn:hover {
    background-color: #d6fa48;
    color: #0584ff; }

.image1 {
  background: url("../assets/images/image1.jpg") no-repeat; }

.image2 {
  background: url("../assets/images/image2.jpg") no-repeat; }

.image3 {
  background: url("../assets/images/image3.jpg") no-repeat; }

.image4 {
  background: url("../assets/images/image4.jpg") no-repeat; }

.image5 {
  background: url("../assets/images/image5.jpg") no-repeat; }

.image6 {
  background: url("../assets/images/image6.jpg") no-repeat; }

.image7 {
  background: url("../assets/images/image7.jpg") no-repeat; }

.image8 {
  background: url("../assets/images/image8.jpg") no-repeat; }

.image9 {
  background: url("../assets/images/image9.jpg") no-repeat; }

.image10 {
  background: url("../assets/images/image10.jpg") no-repeat; }

.image11 {
  background: url("../assets/images/image11.jpg") no-repeat; }

.image12 {
  background: url("../assets/images/image12.jpg") no-repeat; }

.image13 {
  background: url("../assets/images/image13.jpg") no-repeat; }

.image14 {
  background: url("../assets/images/image14.jpg") no-repeat; }

.image15 {
  background: url("../assets/images/image15.jpg") no-repeat; }

.image16 {
  background: url("../assets/images/image16.jpg") no-repeat; }

.image17 {
  background: url("../assets/images/image17.jpg") no-repeat; }

.image18 {
  background: url("../assets/images/image18.jpg") no-repeat; }

.image19 {
  background: url("../assets/images/image19.jpg") no-repeat; }

.image20 {
  background: url("../assets/images/image20.jpg") no-repeat; }

.image21 {
  background: url("../assets/images/image21.jpeg") no-repeat; }

.image22 {
  background: url("../assets/images/image22.jpg") no-repeat; }

.image23 {
  background: url("../assets/images/image23.jpg") no-repeat; }

.image24 {
  background: url("../assets/images/image24.jpg") no-repeat; }

.image25 {
  background: url("../assets/images/image25.jpg") no-repeat; }

.image26 {
  background: url("../assets/images/image26.jpg") no-repeat; }

.image27 {
  background: url("../assets/images/image27.jpg") no-repeat; }

.image28 {
  background: url("../assets/images/image28.jpg") no-repeat; }

.image29 {
  background: url("../assets/images/image29.jpg") no-repeat; }

.image30 {
  background: url("../assets/images/image20.jpg") no-repeat; }

.image31 {
  background: url("../assets/images/image31.jpg") no-repeat; }

.image32 {
  background: url("../assets/images/image32.jpg") no-repeat; }

.image33 {
  background: url("../assets/images/image33.jpg") no-repeat; }

.image34 {
  background: url("../assets/images/image34.jpg") no-repeat; }

.image35 {
  background: url("../assets/images/image35.jpg") no-repeat; }

.image36 {
  background: url("../assets/images/image36.jpg") no-repeat; }

.image37 {
  background: url("../assets/images/image37.jpg") no-repeat; }

.image38 {
  background: url("../assets/images/image38.jpg") no-repeat; }

.image39 {
  background: url("../assets/images/image39.jpg") no-repeat; }

.image40 {
  background: url("../assets/images/image40.jpg") no-repeat; }

.image41 {
  background: url("../assets/images/image41.jpg") no-repeat; }

.image42 {
  background: url("../assets/images/image42.jpg") no-repeat; }

.image43 {
  background: url("../assets/images/image43.jpg") no-repeat; }

.image44 {
  background: url("../assets/images/image44.jpg") no-repeat; }

.image45 {
  background: url("../assets/images/image45.jpg") no-repeat; }

.image46 {
  background: url("../assets/images/image46.jpg") no-repeat; }

.image47 {
  background: url("../assets/images/image47.jpg") no-repeat; }

.image48 {
  background: url("../assets/images/image48.jpg") no-repeat; }

@media (max-width: 822px) {
  .content_news {
    width: 100%; } }

.cls-1 {
  opacity: .12;
  fill: #000;
  animation: Latam .8s 10s ease 1 forwards; }

@keyframes Latam {
  from {
    fill: transparent;
    stroke: #000;
    stroke-width: 4px;
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700; }
  to {
    stroke-dashoffset: 0; } }

.cls-4 {
  fill: transparent;
  stroke: #e34038;
  stroke-width: 15px;
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: muro .8s 8.5s ease 1 forwards; }

@keyframes muro {
  to {
    stroke-dashoffset: 400; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes parpadear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes cerrar_pais {
  0% {
    fill: #000;
    opacity: .12; }
  100% {
    fill: #d5f84a;
    opacity: 1; } }

.cls-5 {
  fill: #000;
  opacity: .12;
  animation: cerrar_pais .8s 9.5s ease 1 forwards; }

/* puntos */
.cls-6 {
  fill: #d5f84a;
  opacity: 0;
  cursor: pointer; }

/* .darien {animation: aparecer .5s 1.5s ease 1 forwards;}
.sanandres {animation: aparecer .5s 5s ease 1 forwards;}
.riobravo {animation: aparecer .2s 9.5s ease 1 forwards;} */
.darien {
  animation: parpadear 3s 1.5s infinite; }

.sanandres {
  animation: parpadear 3s 4.5s infinite; }

.riobravo {
  animation: parpadear 3s 10.5s  infinite; }

@keyframes marcar_punto {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.cls-8 {
  fill: #0c4ed3;
  opacity: 0;
  animation: aparecer 2s 13.5s ease 2 forwards; }

.cls-6, .cls-10 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px; }

/* flechas */
.cls-10 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600; }

.f1 {
  animation: migrar 1s 0s ease 1 forwards; }

.p1 {
  animation: migrar 1s 1s ease 1 forwards; }

.f2 {
  animation: migrar 1s 3s ease 1 forwards; }

.p2 {
  animation: migrar 1s 4s ease 1 forwards; }

.f3 {
  animation: migrar 1s 3s ease 1 forwards; }

.p3 {
  animation: migrar 1s 4s ease 1 forwards; }

.f4 {
  animation: migrar 1s 6s ease 1 forwards; }

.p4 {
  animation: migrar 1s 6.5s ease 1 forwards; }

.f5 {
  animation: migrar 1s 6s ease 1 forwards; }

.p5 {
  animation: migrar 1s 6.5s ease 1 forwards; }

.f6 {
  animation: migrar 1s 7s ease 1 forwards; }

.p6 {
  animation: migrar 1s 7.5s ease 1 forwards; }

.f7 {
  animation: migrar 1s 8s ease 1 forwards; }

.p7 {
  animation: migrar 1s 8.5s ease 1 forwards; }

.f8 {
  animation: migrar 1s 11s ease 1 forwards; }

.p8 {
  animation: migrar 1s 11.5s ease 1 forwards; }

.f9 {
  animation: migrar 1s 12s ease 1 forwards; }

.p9 {
  animation: migrar 1s 12.5s ease 1 forwards; }

@keyframes migrar {
  to {
    stroke-dashoffset: 400; } }

.cls-11 {
  mix-blend-mode: multiply; }

.cls-10 {
  fill: none;
  stroke-linecap: round; }

.cls-8, .cls-12 {
  fill-rule: evenodd; }

.cls-12 {
  fill: #d6fa48;
  opacity: 0; }

.cls-2 {
  fill: #0048d8;
  opacity: 0; }

.cls-3 {
  fill: #d8fc3f;
  opacity: 0; }

.cls-7 {
  fill: #0c4ed3;
  opacity: 0; }

.svg {
  background-color: #18a477; }
