p
{
    font-family: 'texto', sans-serif;
    margin-bottom: 1em;
    line-height: 150%;
    font-size: 1.1em;
}

p > a 
{
    color: $azul_guia;
    border-bottom: solid 2px $azul_guia;
    &:hover 
    {
        border-bottom: solid 2px $rosa_guia;
        font-weight: bold;
    }
}

i {
  font-style: italic;
}

.header
{
    z-index: 3;
}

/* -------------------------------------------- */
/* ------------ intro ------------------- */
/* -------------------------------------------- */

.intro {
    position: relative;
    min-width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 40px;
    z-index: 2;
    background-color: #fff; //#18a477;
    
    
    &__texto
     {
         width: 50%;
         padding-top: 2em;
     }
}

.intro:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("../assets/guia/005_A_la\ sala\ de\ puentes.svg"), url("../assets/guia/005_B_la\ sala\ de\ puentes.svg"), url("../assets/guia/006_B_la\ sala\ de\ puentes.svg");
    background-repeat: repeat;
    background-size: 130%;
    background-position: top right;
}

.intro h1 {
    font-family: 'titulos', sans-serif;
    font-size: 3.8em;
    margin-bottom: 5px;
    text-align: center;
    color: $azul_guia;
}

.intro h2 {
    font-family: 'leyenda', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center;
    color: $azul_guia;
}

.intro small {
    color:$rosa_guia;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
}

.autor, .cargo, .país  {
    font-size: 1em;
    color: $azul_guia;
    //color: #747BAD;
}
.cargo {font-style: italic; display: block; margin-bottom: 5px;}
.país {font-weight: bold;}

.descargar__guia
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 5px;
    width: 205px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
    transition: all .6s;

    img {
        display: block;
        width: 100px;
        margin: 0;
        padding: 0;
    }

    small
    {
        margin: 5px 0;
        color: $azul_guia;
    }
}


.descargar__guia:hover {
    opacity: 1;
    //background-color:  rgba(214, 253, 49, 40%);
    transform: translateY(-30px);
    border: solid 1px $rosa_guia;
}

.descargar__guia:hover small {
    color: $rosa_guia;
}

/* -------------------------------------------- */
/* ------------- Fotografía -------------------- */
/* -------------------------------------------- */

.fotografia
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/guia/Encarni_Pindado_30.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__grullas
    {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;    
        background-image: url("../assets/guia/grullas_verdes.svg");
        background-size: 50%;
        opacity: 0.5;
        background-repeat: no-repeat;
        
   // background-attachment: fixed;
    }

    &__nota
    {
        position: absolute;
        right: 20px;
        bottom: 5%;
        width: 55%;
        font-family: 'leyenda', sans-serif;

        .pie {
            color: #fff;
            font-size: 1em;
            text-align: right;
        }
        .credito {
            background-color: #fff;
            color: #000;
            display: inline-block;
        }
    }

}

/* -------------------------------------------- */
/* ------------- tertulias -------------------- */
/* -------------------------------------------- */


.tertulias {
    position: relative;
    min-width:100%;
    min-height: 200vh;
    padding: 40px 40px;
    z-index: 2;
    background-color: $limon; // #18a477;
    

    
    &__texto
     {
         width: 50%;
         padding-top: 2em;
         margin: 2em auto 4em auto;

         h1 {
            font-family: 'titulos', sans-serif;
            font-size: 3.8em;
            margin-bottom: 1em;
            text-align: center;
            color: $azul_guia;
        }    

        small {
            color:#000;
            font-weight: bold;
            font-size: 1em;
            letter-spacing: 2px;
        }
     }

     &__charlas
     {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;

        
        li
         {

            border-radius: 7px;
            background-color: $limon;
            padding: 10px;
            width: 40em;
         }
        
        &-item
        {

            h2 {
                font-family: 'texto', sans-serif;
                font-size: 1.5em;
                margin-top: 1em;
                margin-bottom: 1em;
                text-align: center;
                color: $azul_guia;

                span:nth-child(1)
                {
                    display: inline-block;
                    border-radius: 50%;
                    padding:5px;
                    width: 40px;
                    height: 40px;
                    margin-right: 0.5em;
                    border: solid 1px $azul_guia;
                }
            }

            small {
                color:#000;
                font-size: 1em;
                letter-spacing: 2px;
                display: inline-block;
                margin: 1em auto;
                border-bottom: solid 1px #000;
            }

            span 
            {
                background-color: #fff;
            }

           

            &-video
            {
                min-width:100%; 
                max-width:100%; 
                position:relative; 
                top:0;
                left:0; 
                margin:0; 
                padding-top:45%;

                iframe
                {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    border: none;
                }
            }
        }
     }
    
}

.tertulias:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("../assets/guia/Mapa_LATAM.svg"), url("../assets/guia/nube_azul_pix.svg");
    background-repeat: repeat;
    background-size: 100%, 50%;
    background-position: top right;
}

/*--------------------------------------------- */
/*----------- botón descarga -------------- */
/*--------------------------------------------- */
#btn_guia
{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    bottom: 45%;
    right: 20px;
    z-index: 3;
    border-radius: 50%;
    background-color: #fff;
    transition: all .6s;
    border: $azul_guia solid 1px;

    img {
        width: 70%;
    }
    small
    {
        margin-top: 10px;
        background-color: #fff;
        padding: 2px 5px;
        text-align: center;
        background-color: $azul_guia;
        color: #fff;
    }

    &:hover
    {
        transform: translateX(-30px);
        border: $rosa_guia solid 1px;
    }

    &:hover small
    {
        background-color: $rosa_guia;
    }
}

/* -------------------------------------------- */
/* ------------ Datos de resumen -------------- */
/* -------------------------------------------- */

.sverde 
{ 
    background-color:#fff;//#D6FD31;
    padding: 60px 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;

    h2 {
        color: $rosa_guia;
        font-size: 2.2em;
        margin: 1.5em auto; 
    }

    &__texto
    {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: #747BAD;
    }
}

.sverde:before {
content: ' ';
display: block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.2;
background-image: url("../assets/guia/hojas_A.png");
background-repeat: repeat;
background-size: 50%;
background-position: top right;
}

.tres_datos {
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

.resumen_datos
{
    width: 30%;
margin-left: 0.5em;
margin-right: 0.5em;
    img {
        width: 100%;
    }

    p {
        font-size: 0.8;
        color: #747BAD;
        text-align: left;
    }

}

.resumen_datos .dato {
    color: $azul_guia;
    font-size: 2em;
    font-weight: bold;
    line-height: 100%;
}

.sverde p span {
    color: $azul_guia;
    font-weight: bold;
}


/* -------------------------------------------- */
/* ------------ Bloque Chat ------------------- */
/* -------------------------------------------- */

.migranteschat
{
    margin-top: 10px;
    min-width:100%;
    background-color: #f0f2f5;    
    display: grid;
    grid-template-areas: 
    ". encabezado ." 
    ". contenido ."
    ". pie .";
    grid-template-columns: 20% auto 20%;
}

.migranteschat-encab
{
    background-color: #f0f2f5;
    grid-area: encabezado;
    padding: 5px 40px;
    display: flex;    
    justify-content: flex-start;
    gap: 40px;
    height: 60px;
    position: sticky;
    top: 80px;
    z-index: 1;
}

.migranteschat-encab img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #0041DB;
    background-color: #fff;
}

.migranteschat-encab p {margin-bottom: 0;}

.migranteschat-encab p:nth-child(1)
{
    font-weight: bold; 
    font-size: 1.3em;
    color: #0041DB;
}

.migranteschat-encab p:nth-child(2)
{
    font-weight: lighter; 
    font-size: 1em;
    color: #54656f;
}

.migranteschat__chat
{
   grid-area: contenido;
  // background-image: url("/assets/guia/Mapa-LATAM-fondo.jpg");
  background-image: url("../assets/guia/006_B_la\ sala\ de\ puentes.svg"), url("../assets/guia/005_A_la\ sala\ de\ puentes.svg");
   background-size:auto;
   background-position: top;
   background-repeat: repeat;
   background-color: #f1efec; //efeae2; //#f5f7f8;
   margin: 5px 40px;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: space-between;
   padding: 20px;
}

.migranteschat__noti {
  background-color: #fff;
  width: 75%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 25px -30px rgba(0, 0, 0, 60%);
}

.migranteschat__noti > span {
    font-weight: lighter; 
    font-size: 0.8em;
    color: #54656f;
    align-self: flex-end;
}

.migranteschat__noti p:nth-child(1) {
    font-family: 'leyenda', sans-serif;
    margin: 0 0 5px 0;
    font-size: 0.9em;
}

.miel {color: #d9b670;}
.verde {color: #31af63;}
.azul {color: #50a4fd;}
.rosa {color: #e542a3;}
.naranja {color: #f7a604;}
.verdeclaro {color: #95b85b;}

.migranteschat__noti-msj > span {
    color: #50a4fd;
}

.migranteschat__noti-link > img {
    width: 100%;
    border-radius: 5px;
}

.migranteschat__noti-link > small {
    text-transform: uppercase;
    margin-left: 5px; 
    border-bottom: solid 1px #0041DB;
    color: #0041DB;
}

.migranteschat__noti-link > span {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 5px;
    margin: 5px 10px;
    color: #000;
}

.migranteschat__noti-link:hover span {
    color: #0041DB;}

.migranteschat__noti-link:hover img 
{
        border: 10px solid #0041DB;
    }


@media (max-width: 1000px)
{
        .migranteschat
        {
            grid-template-columns: 10% auto 10%;
        }
        
}

@media (max-width: 970px)
{
        .intro__texto, .tertulias__texto, .sverde__texto
        {
            width: 80%;
        }
        
}

@media (max-width: 730px)
{
    .intro__texto, .tertulias__texto, .sverde__texto, .tertulias__charlas li
        {
            width: 95%;
        }

        .tres_datos
        {
            flex-wrap: wrap;
            .resumen_datos
            {
                width: 40%;
            }
        }

        .fotografia__nota {
            width: 95%;
            bottom: 5px;
            .pie {
                font-size: 0.8em;
            }
        }

        .fotografia__grullas
        {
            bottom: -30px;
            left: 0;
            height: 70%;
            width: 100%;    
            background-size: 50%;
        }
}

@media (max-width: 700px)
{
        .migranteschat
        {
            grid-template-columns:auto;
            grid-template-areas: 
            "encabezado" 
            "contenido"
            "pie";
        }
        .migranteschat__chat
        { margin: 5px; }
}

@media (max-width: 570px)
{

    #btn_guia
    {
        bottom: 5%;
        right: 10px;
    }
        .tres_datos
        {
            flex-wrap: wrap;
            .resumen_datos
            {
                width: 80%;
            }
        }

    .tertulias 
    {
        width: 100%;
        &__charlas
        {
            gap:0;

            li
            {
                width: 100%;
                margin-bottom: 1em;
            }
        }   
    }

    
}

@media (max-width: 485px)
{
    .migranteschat-encab
    {
        padding: 5px 20px;
        gap: 10px;
    }
    
    .migranteschat-encab p:nth-child(2)
    {
        font-size: 0.8em;   
        line-height: 1.3; 
    }

    .migranteschat__noti
    { width: 85%;}

    .fotografia__grullas
        {
            bottom: -50px;
            height: 60%;
        }
}

@media (max-width: 300px)
{
    .migranteschat-encab
    {
        padding: 5px 20px;
        gap: 10px;
    }
    
    .migranteschat-encab p:nth-child(1)
    {
        font-size: 1.1em;   
        line-height: 1.4; 
    }

    .migranteschat__noti
    { width: 95%;}
}