body
{
    background: rgb(26,11,129);
    background: -moz-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a0b81",endColorstr="#000a29",GradientType=1);
}

h2 
{
    font-family: 'texto', sans-serif;
    font-size: 2em;
    color: $blanco_texto;
    margin: 20px auto 10px auto;
}


.header 
{
    position:sticky; 
    top: 0; 
    z-index: 1; 
    padding: 0 20px;
    font-family: 'leyenda', sans-serif;
    background-color: #fff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .6);

    // .header__content
    &__content 
    {
        //position: relative;
        //text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        height: 80px;
        // .header__content-logo
        &-logo 
        { 
        //    position: absolute;
        //    left: 20px;
         //   top: 15px;
            width: 160px; 
        }

        // .header__content-mobile
        &-mobile
        {
            display: none;
        }

        &-list
        {
            display: none;
            width: 100%;
            height: 100px;
            
            li
            { 
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1em;
                margin: 10px auto; 
                color: #000; 
                padding: 5px auto;
                border: none;
                width: 100%;
                cursor: pointer;
                transition: background-color .3s linear;

                &:hover {
                    //background-color: $limon;
                    color: $azul_guia;
                    font-family: 'titulos', sans-serif; 
                }
            }

            li:nth-child(3) a {
                padding: 5px 10px;
                background-color: $limon;
                border: solid $azul_guia 1.3px;
                color: $azul_guia;
                
                &:hover {
                font-family: 'titulos', sans-serif;
                }
              }

        }

        // .header__content-navbar
        &-navbar 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;

            a 
            { 
                display: inline-block;
                font-size: 1em;
                margin: 20px; 
                color: #000; 
                padding: 5px 10px;
                border: none;
                cursor: pointer;
                transition: border-bottom .3s linear;

                &:hover {
                    //background-color: $limon;
                    color: $azul_guia; 
                    border-bottom: 4px $azul_guia solid;
                }
            }

            li:nth-child(3) a {
                background-color: $limon;
                border: solid $azul_guia 1.3px;
                color: $azul_guia;
                
                &:hover {
                font-family: 'titulos', sans-serif;
                }
              }
        }

    }
}




.container
{
    position: relative;
    padding: 0;
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__map
    {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &__caption
    {
        position: absolute;
        width: 50%;
        top: 31%;
        left: 20px;

        h1 {
            font-family: 'titulos', sans-serif;
            font-size: 2em;
            margin: 0 auto 0.5em auto;
            color: $blanco_texto;
        }

        p
        {
            font-family: 'leyenda', sans-serif;
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 0.5em;
            color: $blanco_texto;
            
            b
            { 
                color: $verde_azul;
            }
        }

        span 
        {
            font-family: 'texto', sans-serif;
            display: inline-block;
            margin: 0.5em 20px 0.5em 0;
            color: $limon;
            font-size: 1.3em;
        }

        div {margin: 0.5em auto 0.5em 1em; position: relative;}

        &-check
        {
                width: 30px;
                height: 30px;
                background: none;
                border: 1.4px solid $verde_azul;
                border-radius: 7px;
                -webkit-appearance: none;
                outline: none;
                vertical-align: bottom;
                
                &:hover 
                {
                    border: 1.4px solid #fff;
                    cursor: pointer;
                }

                &-line{
                    width: 30px;
                    height: 30px;
                    fill: none;
                   // stroke: $limon;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                    stroke-width: 10px;
                    position: absolute;
                    z-index: -1;
                    left: 0;
                  }
        }

        &-label
        {
            margin: auto 20px auto 10px;
            font-family: 'leyenda', sans-serif;
            font-size: 1.5em;
            color: $verde_azul;
        }
    }

    &__footer
    {
        width: 100%;
       // background-color: $azul_oscuro;
        bottom: 30px;
        left: 0;
        padding: 1em 2em 1em 2em;
        color: $verde_azul;

        &-bold
        {
            font-family: 'titulos', sans-serif;
            font-size: 1em;
        }
        &-text
        {
            font-family: 'leyenda', sans-serif;
            font-size: 0.8em;
        }
    }

}

.footer
{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 3em 0 3em 0;

    &__logo
    {
        width: 15%;
        margin: 1em;

        &-img
        {
            width: 100%; 
        }
       
    }
}

.trazo_sur {
    stroke: $limon;
}

.trazo_norte {
    stroke: $rosa;
}

.chequear {
    transition: stroke-dashoffset .5s;
  }

.linea_sur, .linea_norte {
    stroke-dasharray: 100%;
    stroke-dashoffset:100%;
}

//----------------------
// --- Ruta al sur
//----------------------


#puntoBuenosAires, .LabelBuenosAires, #puntoSantiago, .LabelSantiago, #puntoSalta, .LabelSalta, #puntoLima, .LabelLima, #puntoTumbes, #puntoBogotasur, .LabelBogotasur, 
 .LabelTumbes, #puntoTulcan, .LabelTulcan, #puntoQuito, .LabelQuito, .Labels_TrinidadyTobago, #puntoTrinidad, #puntoBoavista, #puntoManaos, .LabelManaos, .LabelBoavista, 
 #puntoDesaguadero, .LabelDesaguadero, #puntoLaPaz, .LabelLaPaz, #puntoAtacama, .LabelAtacama
{
    opacity: 0;
}

.step1_sur //#lineaCaracasTrinidad
{
    animation: migrar 5s 0s ease 1 forwards;
}

.step2_sur //.Labels_TrinidadyTobago, #puntoTrinidad
{
    animation: aparecer 1s .5s ease 1 forwards;
}

.step3_sur //#lineaCaracasManaos
{
    animation: migrar 10s 1.5s ease 1 forwards;
} 

.step4_sur //#puntoBoavista
{
    animation: aparecer 1s 2.8s ease 1 forwards;
}

.step5_sur //#puntoManaos, .LabelManaos
{
    animation: aparecer 1s 3.2s ease 1 forwards;
}

.step6_sur //#lineaCaracasQuito
{
    animation: migrar 10s 4s ease 1 forwards;
}

.step7_sur //#puntoBogotaSur, .LabelBogotaSur 
{
    animation: aparecer .5s 5.3s ease 1 forwards;
}

.step8_sur //#puntoTulcan, .LabelTulcan 
{
    animation: aparecer .5s 5.8s ease 1 forwards;
}

.step9_sur // #puntoQuito, .LabelQuito 
{
    animation: aparecer .5s 5.9s ease 1 forwards;
}

.step10_sur //#lineaQuitoCamana 
{
    animation: migrar 10s 6s ease 1 forwards;
}

.step11_sur //#puntoTumbes, .LabelTumbes 
{
    animation: aparecer .5s 6.8s ease 1 forwards;
}

.step12_sur //#puntoLima, .LabelLima 
{
    animation: aparecer .5s 7.5s ease 1 forwards;
}

.step21_sur //#puntoDesaguadero, .LabelDesaguadero
{
    animation: aparecer .5s 8.8s ease 1 forwards;
}

.step22_sur //#puntoLaPaz, .LabelLaPaz
{
    animation: aparecer .5s 9.1s ease 1 forwards;
}

.step13_sur //#lineaCamanaSalta
{
    animation: migrar 8s 8.3s ease 1 forwards;
}

.step14_sur //#lineaCamanaMariaElena
{
    animation: migrar 4s 8.3s ease 1 forwards;
}

.step23_sur //#puntoAtacama, .LabelAtacama 
{
    animation: aparecer .5s 9.2s ease 1 forwards;
}

.step15_sur //#lineaMariaElenaSalta
{
    animation: migrar 4s 9s ease 1 forwards;
}

.step16_sur //#puntoSalta, .LabelSalta 
{
    animation: aparecer .5s 9.9s ease 1 forwards;
}

.step17_sur //#lineaMariaElenaSantiago
{
    animation: migrar 5s 9.5s ease 1 forwards;
}

.step18_sur //#lineaSaltaBuenosAires
{
    animation: migrar 5s 10s ease 1 forwards;
}

.step19_sur //#puntoSantiago, .LabelSantiago 
{
    animation: aparecer 1s 10.5s ease 1 forwards;
}

.step20_sur //#puntoBuenosAires, .LabelBuenosAires
{
    animation: aparecer 1s 10.8s ease 1 forwards;
}

//----------------------
// --- Ruta al norte
//----------------------
.LabelSantiagoNorte, #puntoSantiagoNorte, .LabelLimaNorte, #puntoLimaNorte, .LabelLaHabana, #puntoLaHabana, .LabelQuitoNorte, #puntoQuitoNorte, #puntoCaracasNorte, .Labels_CaracasNorte,
.Labels_BogotaNorte, #puntoBogotaNorte, .Labels_Medellin, #puntoMedellin, .LabelNecocli, #puntoNecocli, #puntoSanAndres, .Labels_SanAndres, #regionDarien, #regionSanAndresBluefields, 
#puntoBluefields, #puntoMeteti, .LabelMeteti, .LabelBluefields, #puntoManagua, #puntoGuadalajara, .LabelGuadalajara, #puntoSonora, .LabelSonora, #puntoMonterrey, .LabelMonterrey,
#puntoTijuana, .LabelTijuana, #puntoCiudadJuarez, .Labels_CiudadJuarez, #PuntoReynosa, .LabelReynosa, #puntoNuevoLaredo, .LabelNuevoLaredo, #puntoNogales, .LabelNogales, #regionHaitiFlorida,
#puntoMiami, .LabelMiami, .LabelMuro, .LabelRioBravo, .LabelAssis, #puntoAssis, .LabelRioBranco, #puntoRioBranco, #puntoPasoCanoas, .LabelPasoCanoas 
{
    opacity: 0;
}


.step1_norte //#lineaPtoPrincipeBrasil, #lineaPtoPrincipeSantiago
{
    animation: migrar 5s 0s ease 1 forwards;
    //stroke-dasharray: 5 5;
}

.step2_norte //.LabelSantiagoNorte, #puntoSantiagoNorte
{
    animation: aparecer 1s 2.7s ease 1 forwards;
}

.step30_norte //.LabelRioBranco, #puntoRioBranco
{
    animation: aparecer 1s 4.5s ease 1 forwards;
}

.step31_norte //.LabelAssis, #puntoAssis
{
    animation: aparecer 1s 4.7s ease 1 forwards;
}

.step3_norte //#LineaBrasilPeru, #lineaSantiagoLima
{
    animation: migrar 5s 3s ease 1 forwards;
}

.step4_norte //.LabelLimaNorte, #puntoLimaNorte
{
    animation: aparecer 0.5s 5s ease 1 forwards;
}

.step5_norte //#lineaLimaQuito, #lineaHabanaQuito 
{
    animation: migrar 5s 5s ease 1 forwards;
}

.step6_norte //.LabelLaHabana, #puntoLaHabana
{
    animation: aparecer 0.5s 5.5s ease 1 forwards;
}

.step7_norte //.LabelQuitoNorte, #puntoQuitoNorte, #puntoCaracasNorte, .Labels_CaracasNorte
{
    animation: aparecer 0.5s 6s ease 1 forwards;
}

.step8_norte //#lineaCaracasBogotaNorte, #lineaQuitoBogota 
{
    animation: migrar 5s 6s ease 1 forwards;
}

.step9_norte //.Labels_BogotaNorte, #puntoBogotaNorte
{
    animation: aparecer 0.5s 6.7s ease 1 forwards;
}

.step10_norte //#lineaBogotaSanAndres, #lineaBogotaNecocli 
{
    animation: migrar 10s 7s ease 1 forwards;
}

.step11_norte //.Labels_Medellin, #puntoMedellin
{
    animation: aparecer 0.5s 7.5s ease 1 forwards;
}

.step12_norte //.LabelNecocli, #puntoNecocli, #puntoSanAndres, .Labels_SanAndres 
{
    animation: aparecer 0.5s 9s ease 1 forwards;
}

.step13_norte //#regionDarien, #regionSanAndresBluefields 
{
    animation: aparecer_region 2s 10s ease 1 forwards;
}

.step14_norte //#puntoBluefields, #puntoMeteti, .LabelMeteti, .LabelBluefields 
{
    animation: aparecer 0.5s 11s ease 1 forwards;
}

.step15_norte //#lineaQuitoPanama
{
    animation: migrar 5s 12s ease 1 forwards;
}

.step16_norte //#lineaDarienManagua, #lineaBluefieldsManagua, #lineaHabanaManagua 
{
    animation: migrar 10s 12s ease 1 forwards;
}

.step32_norte //#puntoPasoCanoas, .LabelPasoCanoas 
{
    animation: aparecer 0.5s 13s ease 1 forwards;
}

.step17_norte //#puntoManagua
{
    animation: aparecer 0.5s 13s ease 1 forwards;
}

.step18_norte //#lineaMXporHonduras, #lineaMXporGuatemala
{
    animation: migrar 10s 14s ease 1 forwards;
}

.step19_norte //#lineaOaxaca
{
    animation: migrar 5s 15.5s ease 1 forwards;
}

.step20_norte //#puntoGuadalajara, .LabelGuadalajara
{
    animation: aparecer 0.5s 16s ease 1 forwards;
}

.step21_norte //#lineaSaltillo, #lineaGuadalajaraTijuana, #lineaIrapautoCiudadJuarez
{
    animation: migrar 5s 16s ease 1 forwards;
}

.step22_norte //#puntoSonora, .LabelSonora, #puntoMonterrey, .LabelMonterrey
{
    animation: aparecer 0.5s 16.5s ease 1 forwards;
}

.step23_norte //#lineaOaxacaReynosa, #lineaSaltilloValadeces, #lineaSaltilloNuevoLaredo, #lineaMonterreyReynosa
{
    animation: migrar 5s 16.5s ease 1 forwards;
}

.step24_norte //#puntoTijuana, .LabelTijuana, #puntoCiudadJuarez, .Labels_CiudadJuarez, #PuntoReynosa, .LabelReynosa, #puntoNuevoLaredo, .LabelNuevoLaredo, #puntoNogales, .LabelNogales
{
    animation: aparecer 0.5s 17s ease 1 forwards;
}


.step25_norte //#lineaSonoraNogales, #lineaSaltilloRiobravo
{
    animation: migrar 5s 17s ease 1 forwards;
}

.step26_norte //#lineaMuroUSA, #lineaRioBravo
{
    animation: migrar 5s 18s ease 1 forwards;
}

.step29_norte //.LabelMuro, .LabelRioBravo
{
    animation: aparecer 0.5s 18.5s ease 1 forwards;
}

.step27_norte //#regionHaitiFlorida 
{
    animation: aparecer_region 2s 19s ease 1 forwards;
}

.step28_norte //#puntoMiami, .LabelMiami
{
    animation: aparecer 0.5s 19.5s ease 1 forwards;
}


@keyframes aparecer 
{
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
    }
}

@keyframes aparecer_region 
{
    0% {
        opacity: 0;
      }
    50% {
        opacity: .9;
    }
    100% {
        opacity: .5;
    }
}

@keyframes migrar
  {
    to {
          stroke-dashoffset: 0;
        }
  }

@keyframes migrar_en_avion
  {
    to {
          stroke-dashoffset: 0;
        }
  }

    
.news
    {
      
        margin: 3em auto 0 auto;

        &__head
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto 0 auto;

            p
            {
                font-family: 'leyenda', sans-serif;
                font-size: 1em;
                line-height: 150%;
                color: $blanco_texto;
                width: 85%;
                margin: 1em auto 0.5em auto;
            }

            span 
            {
                margin: 0;
                color: $limon;
            }
            &-filtro
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0 20px 0;
                gap: 10px;
                
                &-btn
                {
                    display: inline-block;
                    width: 12em;
                    color: $limon;
                    border: solid 1px $limon;
                    border-radius: 8px;
                    background-color: transparent;
                    text-align: center;
                    font-family: 'leyenda', sans-serif;
                    padding: 4px 0 5px 0;
                    font-size: 1em;

                    span {
                        color: #fff;
                        font-family: 'titulos', sans-serif;
                    }

                    &:hover
                    {
                        background-color: $limon;
                        color: $azul;
                        cursor: pointer;

                        span 
                        {
                            color: $azul;
                        }
                    }
                }   
            }
        }

        &__content
        {
            width: 75%;
            margin-left: auto;
            margin-right: auto;

            ul { 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                margin-bottom: 5em;
            
                li {
                    margin-bottom: 1em;
                }
            
            }

        }
}

.card 
{
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-left: 0;
    width: 17em;

    img 
    {
        display: block;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width:272px;
        height:136px;
        padding-left: 272px;
        overflow:hidden;
        //opacity: 1;
     }
    
    &__header
    {
        position: relative;
        
        &tag
        {
            display: inline-block;
            height: 18px;
            font-family: 'leyenda', sans-serif;
            background-color: $limon;
            padding: 0 5px 1px 5px;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            color: $azul;
            font-size: 0.9em;
        }
    }

    &__body {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;
    
        &title 
        {
            font-family: 'texto', sans-serif;
            color: $azul;
            text-transform: uppercase;
            font-size: 1.1em;
            line-height: 120%;
            margin: 5px 0 0 0;
        }

        &text 
        {
            font-family: 'leyenda', sans-serif;
            color: $blanco_texto;
            line-height: 100%;
            font-size: 0.9em;
            margin: 5px 0px 10px 0;
        }
    }

    
}

.btn {
    color: $limon;
    background-color: $azul;
    border: none;
    border-radius: 6px;
    font-family: 'leyenda', sans-serif;
    font-size: 0.9em;
    padding: 3px 10px 4px 10px;

    &:hover
    {
        background-color: $limon;
        color: $azul;
    }
}

.btn_1 {
    display: block;
    width: 100px;
    color: #fff;
    background-color: $verde_claro;
    border: none;
    border-radius: 6px;
    font-family: 'leyenda', sans-serif;
    font-size: 1em;
    padding: 3px 10px 4px 20px;

    &:hover
    {
        background-color: $verde_claro;
        color: $limon;
    }
}

@each $nota, $foto in $notas 
{
    .image#{$nota} {
        background: $foto no-repeat;  
    }
}

@media (max-width: 822px)
{
    .container
    {
        position: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;

        &__caption
        {
            margin: 3em auto 1em auto;
            position: inherit;
            width: 90%;

        }
    }

    #dvConvenciones {
        transform: translate(-1500px,400px);
        scale:250%;
    }
}

@media (max-width: 769px)
{
    .news__content
    {
        width: 100%;
    }
}

@media (max-width: 700px)
{
    
    .header__content-navbar {
        display: none;
    }

    .header__content-mobile {
        display: flex;
        cursor: pointer;
        transition: all .3s linear;

        &:hover .mLine
        {
            stroke: $azul_guia;
            
        }
        &:active .header__content-list
        {
            display: block;
        }
    }

}


@media (max-width: 624px)
{
    .footer__logo
    {
        width: 40%;
    }
}