body
{
    background: rgb(26,11,129);
    background: -moz-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a0b81",endColorstr="#000a29",GradientType=1);
}

h2 
{
    font-family: 'texto', sans-serif;
    font-size: 2em;
    color: $blanco_texto;
    margin: 20px auto 10px auto;
}



.container
{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;

    &__map
    {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &__caption
    {
        position: absolute;
        width: 50%;
        top: 31%;
        left: 20px;

        h1 {
            font-family: 'titulos', sans-serif;
            font-size: 2em;
            margin: 0 auto 0.5em auto;
            color: $blanco_texto;
        }

        p
        {
            font-family: 'leyenda', sans-serif;
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 0.5em;
            color: $blanco_texto;
            
            b
            { 
                color: $verde_azul;
            }
        }

        span 
        {
            font-family: 'texto', sans-serif;
            display: inline-block;
            margin: 0.5em 20px 0.5em 0;
            color: $limon;
            font-size: 1.3em;
        }

        div {margin: 0.5em auto 0.5em 1em; position: relative;}

        &-check
        {
                width: 30px;
                height: 30px;
                background: none;
                border: 1.4px solid $verde_azul;
                border-radius: 7px;
                -webkit-appearance: none;
                outline: none;
                vertical-align: bottom;
                
                &:hover 
                {
                    border: 1.4px solid $limon;
                    cursor: pointer;
                }

                &-line{
                    width: 30px;
                    height: 30px;
                    fill: none;
                    stroke: $limon;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                    stroke-width: 10px;
                    position: absolute;
                    z-index: -1;
                    left: 0;
                  }
        }

        &-label
        {
            margin: auto 20px auto 10px;
            font-family: 'leyenda', sans-serif;
            font-size: 1.5em;
            color: $verde_azul;
        }
    }
}

.chequear {
    transition: stroke-dashoffset .5s;
  }

.linea_sur {
    stroke-dasharray: 100%;
    stroke-dashoffset:100%;
}


#puntoBuenosAires, .LabelBuenosAires, #puntoSantiago, .LabelSantiago, #puntoSalta, .LabelSalta, #puntoLima, .LabelLima, #puntoTumbes, #puntoBogotaSur, .LabelBogotaSur, 
 .LabelTumbes, #puntoTulcan, .LabelTulcan, #puntoQuito, .LabelQuito, .Labels_TrinidadyTobago, #puntoTrinidad, #puntoBoavista, #puntoManaos, .LabelManaos
{
    opacity: 0;
}

.step1_sur //#lineaCaracasTrinidad
{
    animation: migrar 5s 0s ease 1 forwards;
}

.step2_sur //.Labels_TrinidadyTobago, #puntoTrinidad
{
    animation: aparecer 1s .5s ease 1 forwards;
}

.step3_sur //#lineaCaracasManaos
{
    animation: migrar 10s 1.5s ease 1 forwards;
} 

.step4_sur //#puntoBoavista
{
    animation: aparecer 1s 2.8s ease 1 forwards;
}

.step5_sur //#puntoManaos, .LabelManaos
{
    animation: aparecer 1s 3.2s ease 1 forwards;
}

.step6_sur //#lineaCaracasQuito
{
    animation: migrar 10s 4s ease 1 forwards;
}

.step7_sur //#puntoBogotaSur, .LabelBogotaSur 
{
    animation: aparecer .5s 5.3s ease 1 forwards;
}

.step8_sur //#puntoTulcan, .LabelTulcan 
{
    animation: aparecer .5s 5.8s ease 1 forwards;
}

.step9_sur // #puntoQuito, .LabelQuito 
{
    animation: aparecer .5s 5.9s ease 1 forwards;
}

.step10_sur //#lineaQuitoCamana 
{
    animation: migrar 10s 6s ease 1 forwards;
}

.step11_sur //#puntoTumbes, .LabelTumbes 
{
    animation: aparecer .5s 6.8s ease 1 forwards;
}

.step12_sur //#puntoLima, .LabelLima 
{
    animation: aparecer .5s 7.5s ease 1 forwards;
}

.step13_sur //#lineaCamanaSalta
{
    animation: migrar 8s 8.3s ease 1 forwards;
}

.step14_sur //#lineaCamanaMariaElena
{
    animation: migrar 4s 8.3s ease 1 forwards;
}

.step15_sur //#lineaMariaElenaSalta
{
    animation: migrar 4s 9s ease 1 forwards;
}

.step16_sur //#puntoSalta, .LabelSalta 
{
    animation: aparecer .5s 9.9s ease 1 forwards;
}

.step17_sur //#lineaMariaElenaSantiago
{
    animation: migrar 5s 9.5s ease 1 forwards;
}

.step18_sur //#lineaSaltaBuenosAires
{
    animation: migrar 5s 10s ease 1 forwards;
}

.step19_sur //#puntoSantiago, .LabelSantiago 
{
    animation: aparecer 1s 10.5s ease 1 forwards;
}

.step20_sur //#puntoBuenosAires, .LabelBuenosAires
{
    animation: aparecer 1s 10.8s ease 1 forwards;
}


@keyframes aparecer 
{
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
    }
}

@keyframes migrar
  {
    to {
          stroke-dashoffset: 0;
        }
  }

.news
    {
      
        margin: 3em auto 0 auto;

        &__head
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto 0 auto;

            p
            {
                font-family: 'leyenda', sans-serif;
                font-size: 1em;
                line-height: 150%;
                color: $blanco_texto;
                width: 85%;
                margin: 1em auto 0.5em auto;
            }

            span 
            {
                margin: 0;
                color: $limon;
            }
            &-filtro
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0 20px 0;
                gap: 10px;
                
                &-btn
                {
                    display: inline-block;
                    width: 12em;
                    color: $limon;
                    border: solid 1px $limon;
                    border-radius: 8px;
                    background-color: transparent;
                    text-align: center;
                    font-family: 'leyenda', sans-serif;
                    padding: 4px 0 5px 0;
                    font-size: 1em;

                    span {
                        color: #fff;
                        font-family: 'titulos', sans-serif;
                    }

                    &:hover
                    {
                        background-color: $limon;
                        color: $azul;
                        cursor: pointer;

                        span 
                        {
                            color: $azul;
                        }
                    }
                }   
            }
        }

        &__content
        {
            width: 75%;
            margin-left: auto;
            margin-right: auto;

            ul { 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                margin-bottom: 5em;
            
                li {
                    margin-bottom: 1em;
                }
            
            }

        }
}

.card 
{
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-left: 0;
    width: 17em;

    img 
    {
        display: block;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width:272px;
        height:136px;
        padding-left: 272px;
        overflow:hidden;
        //opacity: 1;
     }
    
    &__header
    {
        position: relative;
        
        &tag
        {
            display: inline-block;
            height: 18px;
            font-family: 'leyenda', sans-serif;
            background-color: $limon;
            padding: 0 5px 1px 5px;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            color: $azul;
            font-size: 0.9em;
        }
    }

    &__body {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;
    
        &title 
        {
            font-family: 'texto', sans-serif;
            color: $azul;
            text-transform: uppercase;
            font-size: 1.1em;
            line-height: 120%;
            margin: 5px 0 0 0;
        }

        &text 
        {
            font-family: 'leyenda', sans-serif;
            color: $blanco_texto;
            line-height: 100%;
            font-size: 0.9em;
            margin: 5px 0px 10px 0;
        }
    }

    
}

.btn {
    color: $limon;
    background-color: $azul;
    border: none;
    border-radius: 6px;
    font-family: 'leyenda', sans-serif;
    font-size: 0.9em;
    padding: 3px 10px 4px 10px;

    &:hover
    {
        background-color: $limon;
        color: $azul;
    }
}

@each $nota, $foto in $notas 
{
    .image#{$nota} {
        background: $foto no-repeat;  
    }
}

@media (max-width: 822px)
{
    .container
    {
        position: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;

        &__caption
        {
            margin: 3em auto 1em auto;
            position: inherit;
            width: 90%;

        }
    }
    /*.news
    {
        margin: 3em auto 0 auto;
    }*/
}

@media (max-width: 769px)
{
    .news__content
    {
        width: 100%;
    }
}
