body
{
    background: rgb(26,11,129);
    background: -moz-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    background: radial-gradient(circle, rgba(26,11,129,1) 0%, rgba(0,10,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a0b81",endColorstr="#000a29",GradientType=1);
}

h2 
{
    font-family: 'texto', sans-serif;
    font-size: 2em;
    color: $blanco_texto;
    margin: 20px auto 10px auto;
}

.head 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    p
    {
        margin: 0;
        color: $limon;
    }

    &__filtro
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 20px 0;
        gap: 10px;
        
        &-btn
        {
            display: inline-block;
            width: 12em;
            color: $limon;
            border: solid 1px $limon;
            border-radius: 8px;
            background-color: transparent;
            text-align: center;
            font-family: 'leyenda', sans-serif;
            padding: 4px 0 5px 0;
            
            span {
                color: #fff;
                font-family: 'titulos', sans-serif;
            }

            &:hover
            {
                background-color: $limon;
                color: $azul;
                cursor: pointer;

                span 
                {
                    color: $azul;
                }
            }
        }   
    }
}

.map 
{
    max-height: 100vh;
    overflow:hidden;
    padding: 0;
    margin: 0;
}

svg 
{
    background-color: transparent;
}


ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 5em;

    li {
        margin-bottom: 1em;
    }

}

.content_news
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card 
{
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-left: 0;
    width: 17em;

    img 
    {
        border-radius: 0;
        border: none;
        width: 100%;
    }
    
    &__header
    {
        position: relative;
        
        &tag
        {
            display: inline-block;
            height: 18px;
            font-family: 'leyenda', sans-serif;
            background-color: $limon;
            padding: 0 5px 1px 5px;
            margin: 0;
            position: absolute;
            left: 0;
            bottom: 3px;
            color: $azul;
            font-size: 0.8em;
        }
    }

    &__body {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;
    
        &title 
        {
            font-family: 'titulos', sans-serif;
            color: $azul;
            text-transform: uppercase;
            font-size: 1em;
            line-height: 100%;
            margin: 5px 0 0 0;
        }

        &text 
        {
            font-family: 'leyenda', sans-serif;
            color: $blanco_texto;
            line-height: 100%;
            font-size: 0.9em;
            margin: 5px 0px 10px 0;
        }
    }

    
}

.btn {
    color: $limon;
    background-color: $azul;
    border: none;
    border-radius: 6px;
    font-family: 'leyenda', sans-serif;
    font-size: 0.9em;
    padding: 3px 10px 4px 10px;

    &:hover
    {
        background-color: $limon;
        color: $azul;
    }
}

@media (max-width: 822px)
{
    .content_news
    {
        width: 100%;
    }
}