/* -------------*/
/* inicializar propiedades*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body 
{
    padding: 0;
    font-family: 'texto', sans-serif;
}

a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}

footer p {
  color: #fff;
  text-align: center;
  margin: 1em auto 1em auto;
  font-family: 'leyenda', sans-serif;
  font-size: 0.8em;
}

.footer
{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 3em 0 3em 0;

    &__logo
    {
        width: 15%;
        margin: 1em;

        &-img
        {
            width: 100%; 
        }
       
    }
}




.container-fluid
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-brand img
{
  width: 160px;
}

.navbar-toggler
{
  width: 60px;
  height: 50px;
  padding: 5px;

  &:hover .mLine
  {
      stroke: $azul_guia;
  }

  &:hover
  {
    border-color: $azul_guia;
  }
}

.navbar-nav
{
  margin-left: auto;
  margin-right: auto;
  font-family: 'leyenda', sans-serif;
  text-transform: uppercase;

  .nav-item
  { 
      font-size: 1em;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      
      transition: border-bottom .3s linear;

      a
      {
        color: black;
        border-bottom: 4px #fff solid;

          &:hover {
            //background-color: $limon;
            color: $azul_guia; 
            border-bottom: 4px $azul_guia solid;
        }
      } 

  }

  .dropdown-item
  {
      padding-left: 2em;
      font-size: 0.9em;
        &:hover {
          background-color: $limon;
          color: $azul_guia;
        }
  }

  .nav-item:nth-child(1) a {
    padding: 5px 10px;
    background-color: $limon;
    border: solid $azul_guia 1.3px;
    color: $azul_guia;
   
    &:hover 
    {
      font-family: 'titulos', sans-serif;
      border: solid $azul_guia 1.5px; 
    }
  }

}

.mouse-scroll {
    display: block;
  }

 #ancla2 {
    position: fixed;
    right: 10px;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 9999;
  }



  .mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
  }
 .mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    transform: none;
    border: 2px solid #fff;
    top: 170px;
  }
  .mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
 .mouse-scroll .down-arrow-1,.mouse-scroll .down-arrow-2,.mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite; 
  }
 .mouse-scroll .down-arrow-1 {
     animation-delay: .1s; 
     animation-direction: alternate;
  }
 .mouse-scroll .down-arrow-2 {
    animation-delay: .2s; 
    animation-direction: alternate;
  }
 .mouse-scroll .down-arrow-3 {
    animation-delay: .3s;
    animation-direction: alternate;
  }
 .mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background:#fff;
    position: relative;
  }
 .mouse-scroll .mouse-in {
   animation: animated-mouse 1.2s ease infinite;
  }
  
  @keyframes animated-mouse {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 990px)
  {

    .navbar-brand img
    {
      width: 140px;
    }

    .nav-item a
    { 
        padding: 0;
        margin: 0;
    }
  }