
.uuid-2c71ae4f-3c13-4bde-8c32-bf1b35f421f2, .uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  fill: none;
}

.mapa_completo {
  clip-path: url(#uuid-81c4fbea-dc95-43ce-90be-56933e193cde);
}

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660 {
  filter: url(#uuid-8e5786c1-e23a-4f74-afa2-ffb1fac197d4);
}

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke-width: 3px;
}

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252 {
  stroke: #d6fa48;
}

.uuid-8bc3cb5e-edf1-45c7-bd2c-eecf312e5660, .uuid-4d9c5e96-3f29-4d5c-bc66-83572a291a35, .uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123, .uuid-d8d60534-fe40-42ff-b575-c389c6b018b4, .uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-4921643d-0751-4eb6-9524-28908df54c35, .uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .croquispais, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke-miterlimit: 10;
}

.uuid-7be7d557-ce95-41b7-abcc-f5a1a2c49ca6, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc {
  stroke: #ed1c24;
}

.uuid-3ab6e76f-6df6-4d58-8104-81efb63b6b91, .uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e, .uuid-5f27e31e-0255-4bb4-adf9-b7435b035442, .uuid-3180d759-a00e-44e6-acc1-c269d91635e5 {
  stroke: #0584ff;
}

.uuid-0d4653eb-82fa-4286-9fa7-98f4c41d2123 {
  filter: url(#uuid-ac05cff7-0645-4ae3-9476-0736a458c9c0);
}

.uuid-959e5524-de0d-49a7-b153-74894f26a3b6 {
  fill: url(#uuid-75e69284-35a1-4cbc-a101-8ce87f5fc3d3);
}

.uuid-193657cd-2345-423c-b859-c01e9b429476 {
  filter: url(#uuid-1cf87f62-eda7-40fe-9682-b5b9df0fba19);
}

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-3a12310c-3316-44f2-a7e5-d7b4a9d2da24, .uuid-92fbd3f4-1270-4764-8dff-59aed314700c, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  fill: #d6fa48;
}

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-9602996c-3b4a-49bc-81b3-ae13a6a557e8, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke: #fff;
}

.uuid-193657cd-2345-423c-b859-c01e9b429476, .uuid-47585f88-6708-4a0a-9913-00880c2857cb, .uuid-412ad160-1f07-4902-b79a-1071f61af4d7, .uuid-fb441b34-e9a0-484f-b31f-4e125940ad89, .uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-9119008c-d610-43c6-a504-e3eb1e16d57d, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b, .uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f, .uuid-1d2025e9-aa56-4fc3-9600-598176209412, .uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  stroke-width: 2px;
}

.uuid-49005eab-3edc-417c-a1da-77167ad5c0cc {
  fill: #d8fc3f;
  font-family: MohaveRoman-Bold, Mohave;
  font-variation-settings: 'wght' 700;
}

.uuid-49005eab-3edc-417c-a1da-77167ad5c0cc, .uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  font-size: 19px;
}

.uuid-0c3a1ef9-e574-4153-8aed-c0ff61e7d774 {
  clip-path: url(#uuid-fd4c527c-da4a-4c7e-8462-e6b5d7abeb65);
}

.verdeoscuro {
  fill: $verde_oscuro;
}

.verdeclaro {
  fill: $verde_azul;
}

.uuid-136bee12-3ae2-43fc-9579-0b896ada1abc, .croquispais, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76, .uuid-e01d4d11-222f-4390-9981-139201c63b0f {
  fill: #006e70;
}

.uuid-030a05dc-c15b-4630-a152-1c3eefe5c3b2, .uuid-e7523470-86dd-4d54-bea2-e57ed52eb9c4 {
  fill: #008787;
}

.letraBlanca, .uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  fill: #fff;
}

.uuid-ba31de6d-a386-48e4-97d7-818e21b43850 {
  fill: #00a09c;
}

.uuid-0c46f753-bcd0-41b5-afe8-fd84b5e16313 {
 fill: #8ca8bc;
}

.LetraAzul, .uuid-7557ce62-2666-4256-a65c-2c65a47f851a, .uuid-a4988a44-200b-4f25-b823-875066937706, .uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142, .uuid-30343332-bb3b-422d-9c24-82881d59cd0f {
  fill: #0584ff;
}

//Edición 2022
.uuid-92fbd3f4-1270-4764-8dff-59aed314700c {
  font-family: 'texto', sans-serif;
  font-size: 47.2px;
  letter-spacing: 0em;
}

.uuid-47585f88-6708-4a0a-9913-00880c2857cb {
  filter: url(#uuid-6bd41a6c-2f59-4bf5-98f9-a8a31922d6f1);
}

.uuid-412ad160-1f07-4902-b79a-1071f61af4d7 {
  filter: url(#uuid-cb265ed4-0b7c-4990-a03e-5728cf5b9f76);
}

.uuid-e7523470-86dd-4d54-bea2-e57ed52eb9c4, .uuid-13e6a5ef-ad6a-448f-9ee6-1c4b1163ec02 {
  mix-blend-mode: lighten;
}

.uuid-fe70f76f-a1f0-44bf-8a50-0a5807f45f6e {
  filter: url(#uuid-5bd4ecda-452a-48e9-8023-d3e0f19a7310);
}

.uuid-fb441b34-e9a0-484f-b31f-4e125940ad89 {
  filter: url(#uuid-bb1f93ec-1bdd-444d-8776-d1acbdb0b2fd);
}

.uuid-8622bea9-c683-43d7-b3cb-fae41b6f5429 {
  filter: url(#uuid-e3bd46aa-c81d-4d92-8402-fcdf5073f6df);
}

.croquispais, .uuid-5e2140d0-fa7b-4289-a058-36d3a330ce76 {
  stroke: #f2f2f2;
  stroke-width: .5px;
}

.croquispais, .uuid-b7e2e19c-3c85-4d20-869f-4b8cba3674dc, .uuid-e01d4d11-222f-4390-9981-139201c63b0f {
  fill-rule: evenodd;
}

.uuid-d8d60534-fe40-42ff-b575-c389c6b018b4 {
  filter: url(#uuid-28507290-1722-47ee-9e63-882872d46c0e);
}

.uuid-7557ce62-2666-4256-a65c-2c65a47f851a {
  filter: url(#uuid-21a84a78-f74e-4f94-8ad2-1b9ce85995a9);
}

.uuid-4fd0de65-4d0b-456d-9a7d-8ecd664690e8 {
  font-family: MohaveRoman-Regular, Mohave;
  font-variation-settings: 'wght' 400;
}

.uuid-8e666a35-d6fe-43de-9b42-3927edd4468f {
  mix-blend-mode: overlay;
}

.uuid-cce030ae-c55b-4dbd-9e8d-6a851735f252 {
  filter: url(#uuid-cd8a3901-b41f-4c62-9b45-42dcd0601da7);
}

.uuid-9119008c-d610-43c6-a504-e3eb1e16d57d {
  filter: url(#uuid-24e8a537-2748-4de0-9141-9604a36038c6);
}

.uuid-a4988a44-200b-4f25-b823-875066937706 {
  filter: url(#uuid-58552531-150d-4e41-b2c9-4befd31e9234);
}

.uuid-d8618ed3-fd4c-4127-b4ae-34ea9857033c {
  letter-spacing: 0em;
}

.uuid-e4cb6999-6c35-4649-a7fc-59e2862f884b {
  filter: url(#uuid-9cc54563-e33d-4e1a-917d-24234e000cc8);
}

.uuid-ae16a3ad-c9b8-44e9-a658-9a33ad63ff46 {
  filter: url(#uuid-2cfa3933-16e7-4ae2-bd1d-29efc851ffe2);
}

.uuid-7ad1fb36-21b0-4cc6-b1d5-5e4d0a76f142 {
  filter: url(#uuid-9240cfc3-140f-495d-a598-55b4fb3aaa1a);
}

.uuid-676d4e89-2781-472a-acf6-9f8a4113ea57 {
  clip-path: url(#uuid-66d5c045-670c-4d44-875b-96836fb27c83);
}

.uuid-30343332-bb3b-422d-9c24-82881d59cd0f {
  filter: url(#uuid-e458d64c-8f47-4f6c-aefc-10410ad9e844);
}

.uuid-69b579d3-6603-43f3-bdd9-6e5630e935db {
  isolation: isolate;
}

.uuid-fb63b507-670c-4079-b999-24ecc8d3067e {
  letter-spacing: 0em;
}

.uuid-1d2025e9-aa56-4fc3-9600-598176209412 {
  filter: url(#uuid-035ae98d-ec60-4f02-b576-ac9405fc4f2f);
}

.uuid-87d7c69a-ef8a-4d4a-9994-3ec07c6e9ede {
  letter-spacing: 0em;
}

.uuid-5f27e31e-0255-4bb4-adf9-b7435b035442 {
  filter: url(#uuid-a6841269-a98a-4f51-9410-b490f7bf6163);
}

.uuid-33b7d983-9970-4b80-858e-77cc405d436e {
  filter: url(#uuid-b4ae3358-a6e3-49ae-be0c-0c9dc6f5cf37);
}


.Labels_otrospaises, #dvConvenciones, .RutaNorte {display: none;}
 