
/* fuentes locales*/

@font-face {
    font-family: 'texto';
    src: url('../assets/fonts/Mohave/mohave.regular.ttf');
}

@font-face {
    font-family: 'titulos';
    src: url('../assets/fonts/Mohave/mohave.bold.ttf');
}

@font-face {
    font-family: 'leyenda';
    src: url('../assets/fonts/Mohave/mohave.light.ttf');
}

/* -------------*/

/* colores */
$blanco_texto: #f2f2f2;
$limon: #d6fa48;
$azul: #0584ff;
$azul_guia: #0048d8;
$azul_oscuro: #020a2e;
$azul_medio:#1c244b;

$verde_oscuro: #005454;
$verde: #006e70;
$verde_medio: #008787;
$verde_claro: #00a09c;
$verde_azul: #00d1c1;
$rosa: #ffba5f;
/* -------------*/


/* fotos de las notas */
$notas:
(
        1: url("../assets/images/image1.jpg"),
        2: url("../assets/images/image2.jpg"),
        3: url("../assets/images/image3.jpg"),
        4: url("../assets/images/image4.jpg"),
        5: url("../assets/images/image5.jpg"),
        6: url("../assets/images/image6.jpg"),
        7: url("../assets/images/image7.jpg"),
        8: url("../assets/images/image8.jpg"),
        9: url("../assets/images/image9.jpg"),
        10: url("../assets/images/image10.jpg"),
        11: url("../assets/images/image11.jpg"),
        12: url("../assets/images/image12.jpg"),
        13: url("../assets/images/image13.jpg"),
        14: url("../assets/images/image14.jpg"),
        15: url("../assets/images/image15.jpg"),
        16: url("../assets/images/image16.jpg"),
        17: url("../assets/images/image17.jpg"),
        18: url("../assets/images/image18.jpg"),
        19: url("../assets/images/image19.jpg"),
        20: url("../assets/images/image20.jpg"),
        21: url("../assets/images/image21.jpeg"),
        22: url("../assets/images/image22.jpg"),
        23: url("../assets/images/image23.jpg"),
        24: url("../assets/images/image24.jpg"),
        25: url("../assets/images/image25.jpg"),
        26: url("../assets/images/image26.jpg"),
        27: url("../assets/images/image27.jpg"),
        28: url("../assets/images/image28.jpg"),
        29: url("../assets/images/image29.jpg"),
        30: url("../assets/images/image56.jpg"),
        31: url("../assets/images/image31.jpg"),
        32: url("../assets/images/image32.jpg"),
        33: url("../assets/images/image33.jpg"),
        34: url("../assets/images/image34.jpg"),
        35: url("../assets/images/image35.jpg"),
        36: url("../assets/images/image36.jpg"),
        37: url("../assets/images/image37.jpg"),
        38: url("../assets/images/image38.jpg"),
        39: url("../assets/images/image39.jpg"),
        40: url("../assets/images/image40.jpg"),
        41: url("../assets/images/image41.jpg"),
        42: url("../assets/images/image42.jpg"),
        43: url("../assets/images/image43.jpg"),
        44: url("../assets/images/image44.jpg"),
        45: url("../assets/images/image45.jpg"),
        46: url("../assets/images/image46.jpg"),
        47: url("../assets/images/image47.jpg"),
        48: url("../assets/images/image48.jpg"),
        49: url("../assets/images/image49.jpg"),
        50: url("../assets/images/image50.jpg"),
        51: url("../assets/images/image51.jpg"),
        52: url("../assets/images/image52.jpg"),
        53: url("../assets/images/image53.jpg"),
        54: url("../assets/images/image54.jpg"),
        55: url("../assets/images/image55.jpg"),
        56: url("../assets/images/image56.jpg"),
        57: url("../assets/images/image57.jpg"),
        58: url("../assets/images/image58.jpg"),
        59: url("../assets/images/image59.jpg"),
        60: url("../assets/images/image60.jpg")
);