
      .uuid-9ca5fc46-1bbc-4acc-8758-1380f6602651, .uuid-67f7b9a7-67aa-49c0-b1bd-7aded18b7cb9, .uuid-a72aaf1d-d473-461f-9584-20c17331e294, .uuid-84df6dbe-4b88-47d5-a146-9f791cb230c2, .uuid-ed73393e-f868-48be-b8b1-18815ab0f112, .uuid-94c0966a-4fe7-4a1a-ab5a-16991180886a, .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8, .uuid-4339255c-2858-4046-b90f-ef6728ece903, .uuid-b5783edd-782b-45c3-9a63-35ee543bdb5f, .uuid-3abf9716-6f65-4101-a42b-7bc44f6c40bc {
        fill: none;
      }

      .uuid-67f7b9a7-67aa-49c0-b1bd-7aded18b7cb9 {
        filter: url(#uuid-a6ea1394-bda7-4e2c-8d40-b7084a100b37);
      }

      .uuid-67f7b9a7-67aa-49c0-b1bd-7aded18b7cb9, .uuid-bb55df1c-2006-4796-9d7b-0fab9e81ca41, .uuid-a72aaf1d-d473-461f-9584-20c17331e294, .uuid-84df6dbe-4b88-47d5-a146-9f791cb230c2, .uuid-fe6cdf28-7a41-45ba-bbd1-6b431313eb17, .uuid-3979ddca-34d6-4254-8c2f-d23ee17d42c6, .uuid-1d6c1b73-d74c-4bcf-ab03-e1223e1c08df, .uuid-caedd9ea-634d-40d7-a797-604202be2bcf, .uuid-a45c26af-24ab-4cd7-ab9f-4929babd3d1d, .uuid-55bea381-f1c7-4cce-9d4e-39318e0e7c49, .uuid-3f03d08d-06a4-4ed3-8e89-83ff03438063, .uuid-ef676d2e-2d53-44cd-9905-f6e6e761f153, .uuid-94c0966a-4fe7-4a1a-ab5a-16991180886a, .uuid-302fb6b0-38c9-4f8a-8f5b-e7b4c2ba45b4, .uuid-f6b5559a-b46c-4b2f-b1ba-3a681ab33d22, .uuid-428726ad-84aa-4ea6-a5ea-3f14a6b78cd3, .uuid-848459e7-566f-421b-bd3f-c8f49ac2cf13, .uuid-e61835b9-0f09-44d1-b997-7fbb624dff61, .uuid-d63e767c-9d09-46a3-837a-a8af7fe439dd, .uuid-2cce0d79-b9ca-4ca8-bac2-43a185054d24, .uuid-03cecf70-f77c-4bea-82e9-eff96380caf2, .uuid-75a9bfb9-1213-4f76-825b-e2ccd55ba1a8, .uuid-8f88a4b1-7b5e-444e-9cc5-6bc620fa9e2c, .uuid-b36fe67a-9612-49be-b0ab-6d1d4bb4a04d, .uuid-2c47d956-039c-4ab6-8b67-efd0dc64e8c1, .uuid-9138be20-9e28-437b-ae17-1ce8e7ac227a, .uuid-9ee472a7-c63f-45d9-88b6-330302b2b8b9, .uuid-75ba9779-92a2-41fb-b073-201fdf7fad76, .uuid-e5003585-772c-48ac-ad32-ed3a52c3209d, .uuid-94ecfbf5-4782-4dcb-9455-84e53733103f, .uuid-78a7d1a8-930b-44d5-98fe-12fb3f3643df, .uuid-c59ba6a5-1a36-4e1c-b694-2c82c8ed1d69, .uuid-67b345c5-84bd-4eaf-8cb5-baa466e56dde, .uuid-4c83a510-97b0-4b36-bfdc-ca2570f26f79, .uuid-37cac85f-c9e2-4ea1-ac14-1a410516792e, .uuid-1f52b254-3def-4e20-aa4f-d968829d77ea, .uuid-be7bd4b5-4469-4c58-a97c-7d3c8f0990f5, .uuid-b5783edd-782b-45c3-9a63-35ee543bdb5f, .uuid-9b60e24f-324c-4ae4-aad3-1040c09f9f63, .uuid-bc2935d7-ea17-4a3f-a86e-1591df4cd458, .uuid-a488ae37-4fed-419c-926a-8e0a2a48270e, .uuid-92883ac6-ea4a-4a92-bf0d-1bfd76016d42, .uuid-b9de7f50-2b06-4241-a2d3-e7419534a228, .uuid-6fd91d7a-71ba-47b4-9166-fbbf0b91af53, .uuid-97003514-2da7-42eb-ab20-7409afe75f59, .uuid-2ad3eca3-3398-4673-9ae4-4c64299196d8 {
        stroke-miterlimit: 10;
      }

      .uuid-67f7b9a7-67aa-49c0-b1bd-7aded18b7cb9, .uuid-bb55df1c-2006-4796-9d7b-0fab9e81ca41, .uuid-a72aaf1d-d473-461f-9584-20c17331e294, .uuid-fe6cdf28-7a41-45ba-bbd1-6b431313eb17, .uuid-3979ddca-34d6-4254-8c2f-d23ee17d42c6, .uuid-1d6c1b73-d74c-4bcf-ab03-e1223e1c08df, .uuid-caedd9ea-634d-40d7-a797-604202be2bcf, .uuid-a45c26af-24ab-4cd7-ab9f-4929babd3d1d, .uuid-55bea381-f1c7-4cce-9d4e-39318e0e7c49, .uuid-3f03d08d-06a4-4ed3-8e89-83ff03438063, .uuid-ef676d2e-2d53-44cd-9905-f6e6e761f153, .uuid-94c0966a-4fe7-4a1a-ab5a-16991180886a, .uuid-302fb6b0-38c9-4f8a-8f5b-e7b4c2ba45b4, .uuid-f6b5559a-b46c-4b2f-b1ba-3a681ab33d22, .uuid-848459e7-566f-421b-bd3f-c8f49ac2cf13, .uuid-e61835b9-0f09-44d1-b997-7fbb624dff61, .uuid-d63e767c-9d09-46a3-837a-a8af7fe439dd, .uuid-03cecf70-f77c-4bea-82e9-eff96380caf2, .uuid-75a9bfb9-1213-4f76-825b-e2ccd55ba1a8, .uuid-8f88a4b1-7b5e-444e-9cc5-6bc620fa9e2c, .uuid-b36fe67a-9612-49be-b0ab-6d1d4bb4a04d, .uuid-2c47d956-039c-4ab6-8b67-efd0dc64e8c1, .uuid-9138be20-9e28-437b-ae17-1ce8e7ac227a, .uuid-9ee472a7-c63f-45d9-88b6-330302b2b8b9, .uuid-75ba9779-92a2-41fb-b073-201fdf7fad76, .uuid-e5003585-772c-48ac-ad32-ed3a52c3209d, .uuid-94ecfbf5-4782-4dcb-9455-84e53733103f, .uuid-78a7d1a8-930b-44d5-98fe-12fb3f3643df, .uuid-c59ba6a5-1a36-4e1c-b694-2c82c8ed1d69, .uuid-67b345c5-84bd-4eaf-8cb5-baa466e56dde, .uuid-4c83a510-97b0-4b36-bfdc-ca2570f26f79, .uuid-37cac85f-c9e2-4ea1-ac14-1a410516792e, .uuid-1f52b254-3def-4e20-aa4f-d968829d77ea, .uuid-be7bd4b5-4469-4c58-a97c-7d3c8f0990f5, .uuid-b5783edd-782b-45c3-9a63-35ee543bdb5f, .uuid-9b60e24f-324c-4ae4-aad3-1040c09f9f63, .uuid-bc2935d7-ea17-4a3f-a86e-1591df4cd458, .uuid-a488ae37-4fed-419c-926a-8e0a2a48270e, .uuid-92883ac6-ea4a-4a92-bf0d-1bfd76016d42, .uuid-b9de7f50-2b06-4241-a2d3-e7419534a228, .uuid-6fd91d7a-71ba-47b4-9166-fbbf0b91af53, .uuid-97003514-2da7-42eb-ab20-7409afe75f59, .uuid-2ad3eca3-3398-4673-9ae4-4c64299196d8 {
        stroke: #fff;
      }

      .uuid-67f7b9a7-67aa-49c0-b1bd-7aded18b7cb9, .uuid-a72aaf1d-d473-461f-9584-20c17331e294, .uuid-84df6dbe-4b88-47d5-a146-9f791cb230c2, .uuid-ed73393e-f868-48be-b8b1-18815ab0f112, .uuid-94c0966a-4fe7-4a1a-ab5a-16991180886a, .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8, .uuid-4339255c-2858-4046-b90f-ef6728ece903, .uuid-b5783edd-782b-45c3-9a63-35ee543bdb5f, .uuid-3abf9716-6f65-4101-a42b-7bc44f6c40bc {
        stroke-width: 3px;
      }

      .uuid-bb55df1c-2006-4796-9d7b-0fab9e81ca41 {
        filter: url(#uuid-f8bb2291-d049-4188-9578-98c965d32129);
      }

      .uuid-bb55df1c-2006-4796-9d7b-0fab9e81ca41, .uuid-fe6cdf28-7a41-45ba-bbd1-6b431313eb17, .uuid-3979ddca-34d6-4254-8c2f-d23ee17d42c6, .uuid-1d6c1b73-d74c-4bcf-ab03-e1223e1c08df, .uuid-caedd9ea-634d-40d7-a797-604202be2bcf, .uuid-a45c26af-24ab-4cd7-ab9f-4929babd3d1d, .uuid-55bea381-f1c7-4cce-9d4e-39318e0e7c49, .uuid-3f03d08d-06a4-4ed3-8e89-83ff03438063, .uuid-ef676d2e-2d53-44cd-9905-f6e6e761f153, .uuid-302fb6b0-38c9-4f8a-8f5b-e7b4c2ba45b4, .uuid-f6b5559a-b46c-4b2f-b1ba-3a681ab33d22, .uuid-848459e7-566f-421b-bd3f-c8f49ac2cf13, .uuid-e61835b9-0f09-44d1-b997-7fbb624dff61, .uuid-d63e767c-9d09-46a3-837a-a8af7fe439dd, .uuid-03cecf70-f77c-4bea-82e9-eff96380caf2, .uuid-75a9bfb9-1213-4f76-825b-e2ccd55ba1a8, .uuid-8f88a4b1-7b5e-444e-9cc5-6bc620fa9e2c, .uuid-b36fe67a-9612-49be-b0ab-6d1d4bb4a04d, .uuid-2c47d956-039c-4ab6-8b67-efd0dc64e8c1, .uuid-9138be20-9e28-437b-ae17-1ce8e7ac227a, .uuid-9ee472a7-c63f-45d9-88b6-330302b2b8b9, .uuid-75ba9779-92a2-41fb-b073-201fdf7fad76, .uuid-e5003585-772c-48ac-ad32-ed3a52c3209d, .uuid-94ecfbf5-4782-4dcb-9455-84e53733103f, .uuid-78a7d1a8-930b-44d5-98fe-12fb3f3643df, .uuid-c59ba6a5-1a36-4e1c-b694-2c82c8ed1d69, .uuid-67b345c5-84bd-4eaf-8cb5-baa466e56dde, .uuid-4c83a510-97b0-4b36-bfdc-ca2570f26f79, .uuid-37cac85f-c9e2-4ea1-ac14-1a410516792e, .uuid-1f52b254-3def-4e20-aa4f-d968829d77ea, .uuid-be7bd4b5-4469-4c58-a97c-7d3c8f0990f5, .uuid-9b60e24f-324c-4ae4-aad3-1040c09f9f63, .uuid-bc2935d7-ea17-4a3f-a86e-1591df4cd458, .uuid-a488ae37-4fed-419c-926a-8e0a2a48270e, .uuid-92883ac6-ea4a-4a92-bf0d-1bfd76016d42, .uuid-b9de7f50-2b06-4241-a2d3-e7419534a228, .uuid-6fd91d7a-71ba-47b4-9166-fbbf0b91af53, .uuid-97003514-2da7-42eb-ab20-7409afe75f59, .uuid-2ad3eca3-3398-4673-9ae4-4c64299196d8 {
        fill: #d6fa48;
        stroke-width: 2px;
      }

      .uuid-84df6dbe-4b88-47d5-a146-9f791cb230c2, .uuid-ed73393e-f868-48be-b8b1-18815ab0f112 {
        stroke: #d6fa48;
      }

      .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8 {
        stroke: #ff003d;
      }
      .uuid-fe6cdf28-7a41-45ba-bbd1-6b431313eb17 {
        filter: url(#uuid-5589ab1a-a80f-4e29-9ecb-d05a799f6928);
      }

      .uuid-fde4f8a9-a520-42a7-b6a8-cdb077bc966f {
        letter-spacing: 0em;
      }

      .uuid-7bd0ba14-ede0-4867-bb48-e6bf110c5377 {
        letter-spacing: 0em;
      }

      .uuid-4a4e0a34-7698-4cf1-ae2d-347f6c79e0d5 {
        letter-spacing: 0em;
      }

      .uuid-3979ddca-34d6-4254-8c2f-d23ee17d42c6 {
        filter: url(#uuid-a7b6efad-6e9b-4cdc-800e-1c066bcadfae);
      }

      .uuid-ed73393e-f868-48be-b8b1-18815ab0f112, .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8, .uuid-4339255c-2858-4046-b90f-ef6728ece903, .uuid-3abf9716-6f65-4101-a42b-7bc44f6c40bc {
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .uuid-1d6c1b73-d74c-4bcf-ab03-e1223e1c08df {
        filter: url(#uuid-6c26d224-a61f-4c45-aa2e-3558b0ea485c);
      }

      .uuid-e69b7af9-20b6-4e60-9d54-eda4a260ebdf {
        letter-spacing: 0em;
      }

      .uuid-f36c684c-014b-4776-8060-88c686927dd6 {
        letter-spacing: 0em;
      }

      .uuid-caedd9ea-634d-40d7-a797-604202be2bcf {
        filter: url(#uuid-a554b647-1f8c-4924-96d0-adfbf0ae7645);
      }

      .uuid-b122a969-0bdc-432e-b189-b2a7767b2430, .uuid-3d4f614f-9088-4784-a041-a808e5431395 {
        font-family: MohaveItalic-Italic, Mohave;
        font-size: 17.3px;
        font-style: italic;
        font-variation-settings: 'wght' 400;
      }

      .uuid-b122a969-0bdc-432e-b189-b2a7767b2430, .uuid-9a5cf819-fb42-45ac-8485-4e119e6bf391 {
        fill: #005454;
      }

      .uuid-a45c26af-24ab-4cd7-ab9f-4929babd3d1d {
        filter: url(#uuid-999578e4-85a5-4cf3-8f1e-69516e5b699d);
      }

      .uuid-3d4f614f-9088-4784-a041-a808e5431395, .uuid-ff5e922f-34d2-4cf3-bfe3-90f92bc58cdb {
        fill: #00d1c1;
      }

      .uuid-0ea8179a-4e34-4d8e-a6ff-8a8eb9ab0235 {
        letter-spacing: 0em;
      }

      .uuid-fccdaba6-37f9-47de-a425-ac6d835cc152 {
        letter-spacing: 0em;
      }

      .uuid-d546691f-4f3f-4600-a687-fc195b495e27, .uuid-688a3a4d-e89e-4408-ae0a-ef0654940636 {
        fill: #008787;
      }

      .uuid-ec3f96f3-6710-4b81-99dd-05b42aa212dd {
        fill: #00a09c;
      }

      .uuid-56e606f9-18f6-4d54-8bef-250c52d968f5 {
        fill: #8ca8bc;
      }

      .uuid-87af08c3-0af3-4267-aec0-61e29360cd8e {
        letter-spacing: 0em;
      }

      .uuid-83232c5d-55cc-4919-bc33-f8cac742d52a {
        filter: url(#uuid-54c7730c-ad9e-4efd-87b5-6564ed84ae42);
      }

      .uuid-83232c5d-55cc-4919-bc33-f8cac742d52a, .uuid-7dff5622-b317-4e56-8576-53775feaf604, .uuid-d8b1075b-d275-4f06-888e-078744c14c9e {
        fill: #ffba5f;
        opacity: .5;
      }

      .uuid-55bea381-f1c7-4cce-9d4e-39318e0e7c49 {
        filter: url(#uuid-6a437149-e92c-49c4-866a-3c9408d8e697);
      }

      .uuid-3f03d08d-06a4-4ed3-8e89-83ff03438063 {
        filter: url(#uuid-8ce07b5f-405a-4012-8aee-baa32ad8444c);
      }

      .uuid-59ab6681-6048-463c-bbcd-1ee13cf99c01 {
        letter-spacing: 0em;
      }

      .uuid-7dff5622-b317-4e56-8576-53775feaf604 {
        filter: url(#uuid-4f08f2eb-e1c0-468c-b397-c2a061364f9c);
      }

      .uuid-473cc4d6-eb08-4856-896c-7cdb11509365 {
        clip-path: url(#uuid-62cc4dea-262f-4bcf-91f0-75f58827649f);
      }

      .uuid-688a3a4d-e89e-4408-ae0a-ef0654940636, .uuid-bdf59d37-c171-4af6-886e-bbc380f5a795 {
        mix-blend-mode: lighten;
      }

      .uuid-d8b1075b-d275-4f06-888e-078744c14c9e {
        filter: url(#uuid-f6d74b1a-f7f5-4b85-bc6f-3497de060e8c);
      }

      .uuid-5a6d1e6c-0293-431a-9adc-486e9d494d61 {
        clip-path: url(#uuid-c53990e3-457a-493f-9bd6-8b77c26f1b1b);
      }

      .uuid-ef676d2e-2d53-44cd-9905-f6e6e761f153 {
        filter: url(#uuid-f44c141b-1a0e-4e9b-9d52-e8694ec9e024);
      }

      .uuid-94c0966a-4fe7-4a1a-ab5a-16991180886a {
        filter: url(#uuid-4dd175a8-2e07-4c11-ae84-0cf2c15b3b32);
      }

      .uuid-0896fe24-47e9-4b4d-9e16-8d9179d77236 {
        letter-spacing: 0em;
      }

      .uuid-302fb6b0-38c9-4f8a-8f5b-e7b4c2ba45b4 {
        filter: url(#uuid-96324162-4a88-414c-96ca-9700ac4d09f8);
      }

      .uuid-f6b5559a-b46c-4b2f-b1ba-3a681ab33d22 {
        filter: url(#uuid-7f73c198-6899-4117-a8ca-d804c17d11b4);
      }

      .uuid-428726ad-84aa-4ea6-a5ea-3f14a6b78cd3, .uuid-2cce0d79-b9ca-4ca8-bac2-43a185054d24 {
        fill: #006e70;
        stroke: #f2f2f2;
        stroke-width: .5px;
      }

      .uuid-428726ad-84aa-4ea6-a5ea-3f14a6b78cd3, .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8, .uuid-4339255c-2858-4046-b90f-ef6728ece903 {
        fill-rule: evenodd;
      }

      .uuid-848459e7-566f-421b-bd3f-c8f49ac2cf13 {
        filter: url(#uuid-72edccfa-e622-4716-b00c-65244aafad60);
      }

      .uuid-e61835b9-0f09-44d1-b997-7fbb624dff61 {
        filter: url(#uuid-c3791331-061d-4882-9db8-76c6335a37b0);
      }

      .uuid-d63e767c-9d09-46a3-837a-a8af7fe439dd {
        filter: url(#uuid-f3c85b68-15f0-4892-add6-56fbe80a2999);
      }

      .uuid-4361a8f4-cc4a-4a78-bdb8-513934a42aa1 {
        font-size: 28.9px;
      }

      .uuid-4361a8f4-cc4a-4a78-bdb8-513934a42aa1, .uuid-91cc3ea6-473b-49be-90a9-9bae9a8ffc4f {
        fill: #fff;
        font-family: MohaveRoman-Medium, Mohave;
        font-variation-settings: 'wght' 500;
        font-weight: 500;
      }

      .uuid-dca105fb-63f7-4174-adf1-8314a0ec413a {
        mix-blend-mode: overlay;
      }

      .uuid-62cbd9a9-5295-49c8-82a9-45ba34bce6e8 {
        stroke: #ff003d;
      }

      .uuid-03cecf70-f77c-4bea-82e9-eff96380caf2 {
        filter: url(#uuid-212ed6e7-88d8-4446-be0a-9efff852b5af);
      }

      .uuid-4339255c-2858-4046-b90f-ef6728ece903 {
        stroke: aqua;
      }

      .uuid-75a9bfb9-1213-4f76-825b-e2ccd55ba1a8 {
        filter: url(#uuid-bf4473cc-9c5b-467c-aec8-09322bb4374e);
      }

      .uuid-8f88a4b1-7b5e-444e-9cc5-6bc620fa9e2c {
        filter: url(#uuid-562d4e36-9c15-42b3-bd74-c7fd645c5225);
      }

      .uuid-b36fe67a-9612-49be-b0ab-6d1d4bb4a04d {
        filter: url(#uuid-70fa8ff3-44ea-43f4-952a-5f3acee335ac);
      }

      .uuid-91cc3ea6-473b-49be-90a9-9bae9a8ffc4f {
        font-size: 14px;
      }

      .uuid-2c47d956-039c-4ab6-8b67-efd0dc64e8c1 {
        filter: url(#uuid-4277fbfd-33c0-4088-8f47-d1eabd4077be);
      }

      .uuid-9138be20-9e28-437b-ae17-1ce8e7ac227a {
        filter: url(#uuid-51f07a79-c043-47ab-9426-3e9e04fd5535);
      }

      .uuid-9ee472a7-c63f-45d9-88b6-330302b2b8b9 {
        filter: url(#uuid-291010b2-2400-401f-9e6c-f81fa2f2f2c2);
      }

      .uuid-75ba9779-92a2-41fb-b073-201fdf7fad76 {
        filter: url(#uuid-49160402-7e97-4c5f-b570-417336ab0d35);
      }

      .uuid-f2b6b85e-c087-4274-8407-9324e5b22667 {
        letter-spacing: 0em;
      }

      .uuid-e5003585-772c-48ac-ad32-ed3a52c3209d {
        filter: url(#uuid-593096ac-3450-43c0-a827-19c12c470b39);
      }

      .uuid-94ecfbf5-4782-4dcb-9455-84e53733103f {
        filter: url(#uuid-90bcdb03-827b-4255-a5e6-05b76dcfc76a);
      }

      .uuid-49c6ced9-52d6-49c2-9a39-d866aea67dc7 {
        letter-spacing: 0em;
      }

      .uuid-78a7d1a8-930b-44d5-98fe-12fb3f3643df {
        filter: url(#uuid-a37afad8-3d6f-4b2a-9e81-997d76a22182);
      }

      .uuid-c59ba6a5-1a36-4e1c-b694-2c82c8ed1d69 {
        filter: url(#uuid-41cb4f40-970e-4335-802a-9131fa64297a);
      }

      .uuid-67b345c5-84bd-4eaf-8cb5-baa466e56dde {
        filter: url(#uuid-b9a95319-2bbe-4bc1-9707-05f86d0b6645);
      }

      .uuid-4c83a510-97b0-4b36-bfdc-ca2570f26f79 {
        filter: url(#uuid-9d12032c-fd6a-4e41-975e-bccdf5cd29fd);
      }

      .uuid-37cac85f-c9e2-4ea1-ac14-1a410516792e {
        filter: url(#uuid-83db7b22-38db-445b-98ca-8b02e6e4d227);
      }

      .uuid-1f52b254-3def-4e20-aa4f-d968829d77ea {
        filter: url(#uuid-4d915629-f542-4abe-93f8-d9319a321578);
      }

      .uuid-be7bd4b5-4469-4c58-a97c-7d3c8f0990f5 {
        filter: url(#uuid-0951c702-d4db-4afd-a119-de3cf5ae853c);
      }

      .uuid-b5783edd-782b-45c3-9a63-35ee543bdb5f {
        filter: url(#uuid-7d1d8161-c87e-4ba5-a39d-e61ddc7183c4);
      }

      .uuid-9b60e24f-324c-4ae4-aad3-1040c09f9f63 {
        filter: url(#uuid-aa5e248d-f025-4426-816b-f066dc446005);
      }

      .uuid-bc2935d7-ea17-4a3f-a86e-1591df4cd458 {
        filter: url(#uuid-0a85d76f-d6cb-4cc8-baec-823b17b3a5fc);
      }

      .uuid-a488ae37-4fed-419c-926a-8e0a2a48270e {
        filter: url(#uuid-97eba1f7-f586-487b-8dfb-325d67a8663b);
      }

      .uuid-92883ac6-ea4a-4a92-bf0d-1bfd76016d42 {
        filter: url(#uuid-209ecfad-c886-4579-852e-a92ffc1e22f9);
      }

      .uuid-665b33c0-0430-417f-b2d9-bc8c43e479bf {
        letter-spacing: 0em;
      }

      .uuid-a72d9690-cdea-4cc3-8730-1142c66cb918 {
        letter-spacing: 0em;
      }

      .uuid-cdd5d682-9927-4e17-aab2-c7f16c33374b {
        letter-spacing: 0em;
      }

      .uuid-f640d147-aebf-4fac-adb2-2bbf12ac6594 {
        isolation: isolate;
      }

      .uuid-49564339-6a85-4755-b726-c3bc233df2b7 {
        letter-spacing: 0em;
      }

      .uuid-1d0b0c64-0252-424d-b6e3-4bf4f7cfa9d1 {
        letter-spacing: 0em;
      }

      .uuid-951b9ac5-342c-475e-86aa-9c5b5bc26bc7 {
        letter-spacing: 0em;
      }

      .uuid-b9de7f50-2b06-4241-a2d3-e7419534a228 {
        filter: url(#uuid-9b8271f5-bb5d-4e48-b20b-b7bde59b8d09);
      }

      .uuid-c14e5872-f4d0-446d-a0c3-ef3c0097a02b {
        clip-path: url(#uuid-5c369ff8-be41-493e-a266-96c1d7aaa1bd);
      }

      .uuid-6fd91d7a-71ba-47b4-9166-fbbf0b91af53 {
        filter: url(#uuid-da52c31e-ce28-4730-b911-5f74e9bd3c28);
      }

      .uuid-2cbf50ef-9cc7-4015-befd-beb6df3a0475 {
        letter-spacing: 0em;
      }

      .uuid-a1581a08-46f4-44a2-b9fe-7afe8bb78243 {
        clip-path: url(#uuid-7a0fc41c-64a7-4d5a-93e3-12089aee3aee);
      }

      .uuid-97003514-2da7-42eb-ab20-7409afe75f59 {
        filter: url(#uuid-2744ab6e-a418-4dca-ba90-d8f66fb3584f);
      }

      .uuid-3abf9716-6f65-4101-a42b-7bc44f6c40bc {
        stroke: #ffba5f;
      }

      .uuid-2ad3eca3-3398-4673-9ae4-4c64299196d8 {
        filter: url(#uuid-738372f1-51ac-4437-8112-9a51fea1ce33);
      }
